
.topnav {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #56c1db;
  position: fixed;
  z-index:100;
  float: none; 
  font-size: 11px;
  }
.topnav img {
  width: 150px;
  height: 80px;
  float: left;
  margin-left: 3%;

}
.topnav ul {
        font-family: "Microsoft YaHei",Arial, Verdana;
        font-size: 20px;
        margin: 0; padding: 0;
        /*添加导航栏*/
        margin-left:20%;  }
      /*导航菜单栏属性*/
.topnav ul li {
        list-style: none;
        display: block; 
        position: relative;     
        float: left;
        vertical-align: top;
      
      }
.topnav li ul{display: none;}/*无列表嵌套行*/
      /*菜单子项属性*/
.topnav ul li a {               
        display: block;
        text-decoration: none;  /*没有下划线*/
        color: #ffffff;
        padding: 3px 15px 3px 15px;  /*导航栏每个模块间隔*/
        background: #56c1db;
        white-space: nowrap;
        font-size: 18px;}
.topnav ul li a:hover {
 background: #56c1db;
  }
.topnav li:hover ul {
        height: 60px;
        display: block;
        position: absolute;
      }
.topnav li:hover a {
 background: #56c1db;
 }
.topnav li:hover li a:hover {
  background: #718fdb;
}