#index_top {
	background-color:#00CC66;
	width: 100%;
	height:300px;
}


#date {
	width:350px;
	height:100px;
	position: relative;
	margin-left: 38%;
	margin-top: 8%;
}

.search_block {
	width:200px;
	height:40px;
	position:relative;
	margin-left:44%;
	margin-top:1%;
	float: left;
}

/*.go_button {
	width:40px;
	height:40px;
	background-color: #FFFFFF;
	position:relative;
	margin-left:1%;
	margin-top:1%;
	float: left;
}*/

#eye {
	width: 40px;
    height: 30px;
    position: relative;
    margin-left: 43%;
    margin-top: 3.5%;
}

#text {
	color: #00CC66;
    font-size: 28px;
    font-family: Microsoft YaHei;
    position: absolute;
    left: 630px;
    top: 340px;
}

#table {
	margin-bottom: 150px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.height {
	line-height: 0;
}

.topic_tag {
	width:25px;
	height:25px;
}

.topic_font {
	font-size:18px;
	font-family: Microsoft YaHei;
}

a:link { 
color:#00CC66; 
text-decoration:underline; 
} 
a:active { 
color:#00CC66; 
text-decoration:underline; 
} 
a:visited { 
color:#00CC66; 
text-decoration:underline; 
} 
a:hover { 
color:#000000; 
text-decoration:underline; 
} 
