@charset "utf-8";

* { 
  margin: 0;
  box-sizing: border-box
}
a { 
  background-color: transparent;
}
a:link, a:visited {
  text-decoration: none;
  color: #666;
}
body { 
  font: 12px/1.5; 
  color: #666666; 
  background:#F2F4F8 !important;
  font-family:'Microsoft Yahei', 'Simsun' !important;
}
img { 
  border: 0;
  display: block }
ul { 
  list-style: none; 
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;}/*标签动态效果*/

.boxshadow {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
}
.clear {
  clear: left;
}

.topnav {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #06D995;
  position: fixed;
  z-index:100;
  float: none; 
  font-size: 11px;
  }
.topnav img {
  width: 150px;
  height: 80px;
  float: left;
  margin-left: 3%;

}
.topnav ul {
        font-family: "Microsoft YaHei",Arial, Verdana;
        font-size: 20px;
        margin: 0; padding: 0;
        /*添加导航栏*/
        margin-left:20%;  }
      /*导航菜单栏属性*/
.topnav ul li {
        list-style: none;
        display: block; 
        position: relative;     
        float: left;
        vertical-align: top;
      
      }
.topnav li ul{display: none;}/*无列表嵌套行*/
      /*菜单子项属性*/
.topnav ul li a {               
        display: block;
        text-decoration: none;  /*没有下划线*/
        color: #ffffff;
        padding: 3px 15px 3px 15px;  /*导航栏每个模块间隔*/
        background: #06D995;  
        white-space: nowrap;
        font-size: 18px;}
.topnav ul li a:hover {
 background: #00CC99;
  }
.topnav li:hover ul {
        height: 60px;
        display: block;
        position: absolute;
      }
.topnav li:hover a {
 background: #06D995;
 }
.topnav li:hover li a:hover {
  background: #00CC99; 
}

ul.nav.nav-sidebar li.active a {
  background-color: #76EEC6 !important;
  color: #000;
}
ul.nav.nav-sidebar li a{
    color: #BBBBBB;
    font-size: 13px;
    font-weight: 600;
    padding: .8em 0 .8em 3em;
}

.up_box { 
  position:relative;
  margin-top: 80px;
  margin-left: 150px;
}
 
.l_box {
  position: relative;
  margin-top:0; 
  margin-left: 0; 
  float: left;
  width: 204px;
  height: 700px;
}
.m_box {
  position:relative; 
  float: left;
  left:20px; 
  top:5px;
}

.wel_count {
  margin-left: 0px;
  margin-top: 10px;
  position: relative;
}
.wel_count ul {
  position: relative;
  top: 10px;
}

.wel_count ul li a {
  margin-left:20px; 
  margin-right:10px; 
  position: relative;
  display: block;
  color: #747F8C;
  width: 70px;
  text-align: left; 
  float: left;
  padding:70px 0px 10px 15px;
}
/*形象画板*/
.content_dashboard {
  padding: 15px 15px;
  background-color:#4AFBC1;
}
.dashboard {
  overflow: hidden;
  position: relative;
  margin-left:0;
  margin-top:166px; 
  width: 500px;
  height: 700px;
}
.dashboard p {
  color:#ffffff;
}
.dashboard #draw_img {
  margin-top:0px; 
  margin-left:5px; 
  float: left;
}
.content_dashboard #board_title {
  padding: 0;
  font-size: 22px !important;
  color: #ffffff;
  font-weight: 100;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}
/*女性体型*/
/*.dashboard #body_board {
  width: 350px;
  margin-left: -60px;
  float: none;
  margin-top: 60px;
  display: block;
  opacity:0.8;
}
.dashboard #draw_p1 {
  border: none;
  position: absolute;
  margin-left: 272px;
  margin-top: -307px;
  float: left;
  z-index: 30;
  font-size: 18px;
}
.dashboard #draw_p2 {
  border: none;
  position: absolute;
  margin-left: 295px;
  margin-top: -235px;
  float: left;
  z-index: 30;
  font-size: 18px;
}
.dashboard #draw_p3 {
  border: none;
  position: absolute;
  margin-left: 295px;
  margin-top: -125px;
  float: left;
  z-index: 30;
  font-size: 18px;
}
.dashboard #draw_p4 {
  border: none;
  position: absolute;
  margin-left: 255px;   
  margin-top: -60px;
  float: left;
  z-index: 30;
  font-size: 18px;
}*/


/*男性体型*/
.dashboard #body_board {
  width: 240px;
  margin-left: 30px;
  margin-top: 60px;
  height: 300px;
}
.dashboard #draw_p1 {
  border: none;
  position: absolute;
  margin-left: 262px;
  margin-top: -274px;
  float: left;
  z-index: 30;
  font-size: 18px;
}
.dashboard #draw_p2 {
  border: none;
  position: absolute;
  margin-left: 275px;
  margin-top: -207px;
  float: left;
  z-index: 30;
  font-size: 18px;
}
.dashboard #draw_p3 {
  border: none;
  position: absolute;
  margin-left: 272px;
  margin-top: -107px;
  float: left;
  z-index: 30;
  font-size: 18px;
}
.dashboard #draw_p4 {
  border: none;
  position: absolute;
  margin-left: 240px;   
  margin-top: -49px;
  float: left;
  z-index: 30;
  font-size: 18px;
}



.dashboard #influ_img {
  margin-top:25px; 
  margin-left:5px; 
  float: left;
}
.content_dashboard #influ_title {
  padding: 0;
  font-size: 22px !important;
  color: #ffffff;
  font-weight: 100;
  float: left;
  margin-top:29px;
  margin-left: 4px;
}
.dashboard .col-lg-12 small {
  margin-top:5px; 
}
.dashboard .col-lg-12 .bk-margin-off-bottom {
  margin-top:10px; 
}
.dashboard #act_img {
  margin-top:35px; 
  margin-left:6px; 
  float: left;
}
.content_dashboard #act_title {
  padding: 0;
  font-size: 22px !important;
  color: #ffffff;
  font-weight: 100;
  float: left;
  margin-top:39px;
  margin-left: 5px;
}
.content_dashboard #act_text {
  padding: 0;
  font-size: 18px !important;
  color: #ffffff;
  font-weight: 100;
  float: left;
  margin-top:5px;
  margin-left:25px;
}

/*END-形象画板*/

/*右侧栏*/
.r_box {
  float: left;
  width: 300px;
  height: 900px;
  position: relative;
  margin-left: 50px;
}
/*天气*/
.weather {
  width: 300px;
  height: 200px;
  margin-top: 5px;
  background-color: #ffffff;
}

/*账户信息*/
.panel h3 {
 line-height: 1.1 !important;
}
#account {
  width: 300px;
  height: 350px;
  float: left;
  position: relative;
}
#account li {
  margin-top: 5px;
}
#his_vis {
  width: 300px;
  height: 350px;
  float: left;
  position: relative;
}

/*最近交互*/
#his_vis {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  position: relative;
}
#his_vis .panel-heading {
  padding: 4px 15px 0px !important;
  color: #3c763d !important;
  font-size:bold !important; 
}
#myTab {
  margin-bottom:0px !important; 
}
#other_me {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  line-height: 1.1 !important;
}

#me_others {

}
/*Recenet Activity*/
.down_box {
  position:relative;
  margin: auto;
  margin-top: 1% !important; 
  height: 500px;
  width: 70%;
}

/*footer*/
footer { 
    background: #333;
    width: 100%;
    bottom: 0; 
    clear: both; 
    text-align: center; 
    margin-top: 900px
   }
   
.ft-copyright {
 color: #fff;
 line-height: 24px; 
}

/*----我的地盘页面----*/
#zone_tab {
  margin-top: 130px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 18px;
  font-weight: bold;
}

#zone_left_tab {
  margin-left: 50px;
}
#zone_tab a:hover {
  color:#06d995  !important;
}
#myfriends {
  margin-left: 150px;
  margin-right: 150px;
}

#modechoose li {
  float:left;
  display: block;
  padding: 0 10px;
  border-radius: 30px;
  text-decoration: none;
  list-style: none;
  font-size: 13px;  
  line-height: 1.7;
}
#modechoose li.on {
  color:#ffffff;
  background:#76EEC6;
  border:1px solid #76EEC6;
}

#pageGro .pageUp{
    text-indent:23px;
    /*border:1px solid #999;*/
    cursor:pointer;
}
#pageGro span ul li.on{
    color:#fff;
    background:#76EEC6;
    border:1px solid #76EEC6;
}
#pageGro span ul li{
    width:22px;
    text-align:center;
    border:1px solid #999;
    cursor:pointer;
    margin-left:20px;
}
#pageGro .pageDown{
    text-indent:5px;
    width:63px;
    /*border:1px solid #999;*/
    cursor:poointer;
}

#pageGro span ul li{
    float:left;
}

.demo--label {
  display:inline-block
}
.demo--radio{
  display:none
}
.demo--radioInput{
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:100%;
  display:inline-block;
  height:16px;
  margin-right:10px;
  margin-top:-1px;
  vertical-align:middle;
  width:16px;
  line-height:1
}
.demo--radio:checked + .demo--radioInput:after{
  background-color:#57ad68;
  border-radius:100%;
  content:"";
  display:inline-block;
  height:12px;
  margin:1px 1px;
  width:12px
}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{
  border-radius:0
}

/*----他人页面.html----*/
/*他人页面.html*/
.personhead {
  margin-left: 25%;
  
  width: 800px;
  height: 200px;
  margin-top: 60px;
}

.personhead img {float: left;}

.personinfo {
  float: left;
}

.domain
{
    height: 450px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: rgb(0, 0, 0) 1px 3px 5px;    
    float: left;
   /* margin-right: 86%;*/
    margin-left: 19%;
    cursor: default;

    }

.word{
    height: 150px;
    width: 130px;  
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    cursor: default;
    
  }
.sociality{
    height: 450px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: rgb(0, 0, 0) 1px 3px 5px;    
    float: left;
    
    margin-left: 1%;
    cursor: default;
}
/*.text{
    height: 500px;
    width: 800px;
    background-color: #ffffff;
    box-shadow: rgb(0, 0, 0) 1px 3px 5px;    
    float: left;
    cursor: default;
    margin-left: 19.5%;
    margin-top: 20px;
    margin-bottom: 4%;

}*/

/*tab切换的样式*/


#container {
text-align: left;
width: 400px;
height: 400px;
background-color: #FFFFFF;
padding: 20px;
}
#container #title {
height: 28px;
}
#container #title li {
float: left;
list-style-type: none;
height: 28px;
line-height: 28px;
text-align: center;
margin-right: 1px;
}

#container #title ul {
background-color: #FFFFFF;
height: 28px;
}
#container #title a {
text-decoration: none;
color: #000000;
display: block;
width: auto;
}
#container #title a span{
display: block;
padding: 0 15px 0 15px;
}

/*鼠标放在上面*/
#container #title #tag1 a:hover {
text-decoration: none;
color: #3A81C8;
display: block;
width: auto;
background-color: aliceblue;
}
#container #title #tag1 a:hover span{
display: block;
padding: 0 15px 0 15px;
}

#container #title #tag2 a:hover {
text-decoration: none;
color: #3A81C8;
display: block;
width: auto;
background-color: aliceblue;
}
#container #title #tag2 a:hover span{
display: block;
padding: 0 15px 0 15px;
}

#container #title #tag3 a:hover {
text-decoration: none;
color: #3A81C8;
display: block;
width: auto;
background-color: aliceblue;
}
#container #title #tag3 a:hover span{
display: block;
padding: 0 15px 0 15px;
}

/*选择之前*/
#container #title .selectli1 {

text-decoration: none;
color: #3A81C8;
display: block;
width: auto;

}
/*选择了之后*/
#container #title a .selectspan1 {
display: block;
padding: 0 15px 0 15px;
background-color: aliceblue;
font-weight: bold;
}
/*选择之前*/
#container #title .selectli2 {
text-decoration: none;
color: #3A81C8;
display: block;
width: auto;
}
/*选择了之后*/
#container #title a .selectspan2 {
display: block;
padding: 0 15px 0 15px;
background-color: aliceblue;
font-weight: bold;
}


#container #title .selectli3 {
text-decoration: none;
color: #3A81C8;
display: block;
width: auto;
}
/*选择了之后*/
#container #title a .selectspan3 {
display: block;
padding: 0 15px 0 15px;
background-color: aliceblue;
font-weight: bold;
}

#container #content ul {margin: 10px;}
#container #content li {margin: 5px; }
#container #content li img {margin: 5px;display:block;}
#container #content {
height: 300px;
padding: 10px;
}
.content1 {
background-color: aliceblue;
}
.content2 {
background-color: aliceblue;
}
.content3 {
height: 300px;
padding: 10px;
background-color: aliceblue;
}


.hidecontent {display:none;}
