
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1461247121'); /* IE9*/
  src: url('iconfont.eot?t=1461247121#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1461247121') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1461247121') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1461247121#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.testt{color:red}
.icon-zhankaishouqi:before { content: "\e668"; }
.icon-paiming:before { content: "\e66a"; }
.icon-paiming1:before { content: "\f00d0"; }
.icon-paiming2:before { content: "\e617"; }
.icon-jiankong:before { content: "\e7b2"; }
.icon-guanxifenxi:before { content: "\e64d"; }
.icon-guanxi:before { content: "\e61b"; }
.icon-yonghuhuaxiang:before { content: "\e656"; }
.icon-renqunhuaxiang:before { content: "\e626"; }
.icon-qunti:before { content: "\e610"; }
.icon-wulianganzhipingtai:before { content: "\e98c"; }
.icon-xitongguanli:before { content: "\e606"; }
.icon-gerenzhongxin:before { content: "\e600"; }
.icon-home:before { content: "\e620"; }
.icon-tuichudenglu:before { content: "\e845"; }
