{%extends "tbase.html" %}
{% block title %}敏感词管理{% endblock title %}
{% block head_title %}敏感词管理{% endblock head_title %}
{% block ex_link %}/index/nouns_explain/#role_manage{% endblock %}

{% block css %}
{{ super() }}
<style type="text/css">
.hidden{display:none;}
#file-upload{margin-left:50px;border:1px solid #999;}
.fleft{float:left;}
#DataTables_Table_0_filter label{ float:right }
#uploadFile{position: fixed;margin-top: -200px;left: 50%;top: 50%;z-index: 1002;width: 620px;background: #FFF none repeat scroll 0% 0%;
border: 1px solid #AA8BE8;height: 230px;margin-left: -300px;}
#float-wrap {position: fixed;top: 0px;left: 0px;opacity: 0.6;z-index: 1001;width: 100%;height: 100%; background: #000 none repeat scroll 0% 0%;}
#uploadFile .title{color:black;border-bottom:1px solid #999;}
.title{color:black;border-bottom:1px solid #999;padding-left:20px;}
.decoration ul{margin-top:30px;}
li{list-style-type:none;}
.decoration ul li{width:100%;float:left;margin-bottom:10px;}
.p_title {float: left;width: 260px;margin-right:30px;white-space: nowrap;overflow: hidden; font-weight: normal;text-align: right;color: #808080;}
#searchbtn {
display: inline-block;
background: #4f8fff none repeat scroll 0% 0%;
color: #FFF;
border: 1px solid #334EE3;
border-radius: 2px;
width: 108px;
float: right;
margin-right: 10px;
height:30px;
}
#close {
width: 12px;
height: 12px;
float: right;
display: inline;
vertical-align: middle;
background-attachment: scroll;
background-color: transparent;
background-image: url(/static/custom/images/close.jpg);
background-repeat: no-repeat;
margin-right:10px;
margin-top:10px;
}

#searchTable {float:right;margin-right:20px;}
#SearchTab{position: fixed;margin-top: -200px;left: 50%;top: 50%;z-index: 1002;width: 620px;background: #FFF none repeat scroll 0% 0%;
border: 1px solid #AA8BE8;height: 300px;margin-left: -300px;}
#pageTitle{font-size:20px;text-indent:20px;font-family:"Microsoft YaHei UI";}
/*
#DataTables_Table_0_filter{display:none;}
#DataTables_Table_0_length{display:none;}
*/
#del{color:black;}
.lineh{line-height:30px;}
table th{text-align:center;}
tbody td{text-align:center;}
.tagCols{width:550px;margin:auto 0;  text-align: center;margin-bottom: 10px;height:50px;line-height: 45px;}
.tagCols span{font-size:20px;}
.addIcon{background-image:url(/static/img/add.png);width:32px;display:inline-block;height:32px;cursor:pointer;padding-top:10px;}
#editAdd{background-image:url(/static/content/img/add.png);width:32px;display:inline-block;height:32px;cursor:pointer;padding-top:10px;}
.tagbg{background-color:lightblue;min-width:50px;border:soild 1px #eee;margin-right:10px;}
#delIcon{background-image:url(/static/content/img/delete16.png);width:16px;height:14px;cursor:pointer;display:inline-block;}
#EDIT{font-size:18px;}
.smallAdd{background-image:url(/static/content/img/smallAdd.png);width:16px;height:16px;cursor:pointer;display:inline-block;}
.input_tag_box{
color: #5f5f5f;
border-width: 1px;
border-style: solid;
border-image: none;
border-color: #9b9b9d #dcdcdc #dce7eb;
border-radius: 3px;
background-color: #fbfcfc;margin-right: 20px;}

</style>
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
{% endblock css %}

{% block main %}

<div class="ch-container" style="padding:0px;width:945px;">

<div class="row">
<div id="content" class="col-lg-10 col-sm-10" style="width:100%">
<!-- content starts -->
<div class="row">
<div class="box col-md-12">
<div class="box-inner" style="background-color:white;width:980p/x;min-height:150px;">
<div class="box-header well" data-original-title="" style="padding-top:5px;">
   <span class="TabTitle"  >敏感词列表</span>
   </div>
   <div class="fleft">
   </div>
   <!--<a id="free_add_class" href="" data-toggle="modal" data-target="#free_add" style="float:right;margin-bottom:10px;margin-top:12px;margin-right:40px;">自定义类别</a>-->
   <a id="add_sensi_tag" href="" data-toggle="modal" data-target="#add_sensiword" style="float:right;margin-bottom:10px;margin-top:12px;margin-right:40px;">添加敏感词</a>
   <div style="margin-top:12px;margin-left:20px;">等级
   <select name="level" id="sensi_manage_level" style="width:90px; margin-right:5px;">   
   <option value="0">所有等级</option> 
   <option value="1">1</option>   
   <option value="2">2</option>   
   <option value="3">3</option>           
   </select>
   <!--类别
   <select name="classify" id="sensi_manage_class" style="width:90px; margin-right:5px;"> 
   <option value="0">所有类别</option>   
   <option value="意识形态">意识形态</option>
   <option value="政治">政治</option>   
   <option value="法律">法律</option>
   <option value="民运">民运</option>                    
   <option value="军事">军事</option>   
   </select>-->
   <button id="show_sensi_manage" style="min-width: 50px;">确定</button>
   </div>
   <div class="box-content" id="sensi_manage_table" style="padding:20px;">
       
       </div>
       </div>
       </div>
       </div><!--/span-->

       <!-- content ends -->
       </div><!--/#content.col-md-0-->
       </div><!--/fluid-row-->


       </div><!--/.fluid-container-->

       <div class="modal fade" id="add_sensiword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
       <div class="modal-content">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >x</span></button>
       <h4 class="modal-title" id="myModalLabel">添加敏感词</h4>
       </div>
       <div class="modal-body" id="add_snesiword" style="padding:30px;">
       <div class="add_word_model" style="margin-top:-5px;">
       <span style="margin-left:10px;margin-top:8px;float:left">敏感词</span>
       <input name="input_sensi" class="input_sensi" style="margin-left:10px;min-width: 50px;margin-top:6px;float: left;" placeholder="输入敏感词">
       <span style="margin-left:10px;">等级</span>
       <select name="level" class="add_sensi_level" style="width:90px; margin-left:6px;margin-right:5px;">   
       <option value="1">1</option>   
       <option value="2">2</option>   
       <option value="3">3</option>           
       </select>
       <span class="addIcon" id="addTag" style="margin-bottom:-10px;margin-top:0px;"></span>

       </div>
       <span type="button" class="portrait_button " style="float:right;cursor:pointer;margin-right:20px;width: 45px;height: 25px;text-align: center;line-height: 25px;" id="add_words_Save">保存</span>
       </div>
       </div>
       </div>
       </div>
       <div class="modal fade" id="word_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
       <div class="modal-content">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >x</span></button>
       <h4 class="modal-title" id="myModalLabel">敏感词修改</h4>
       </div>
       <div class="modal-body"  style="padding:30px;">
       <div id="edit_sensiword"></div>


       <!--<div class="modal-footer">
       <button type="button" class="portrait_button btn btn-default" data-dismiss="modal">取消</button>-->
       <span type="button" class="portrait_button " style="float:right;cursor:pointer;margin-right:20px;width: 45px;height: 25px;text-align: center;line-height: 25px;" id="word_modifySave">保存</span>
       </div>
       </div>
       </div>
       </div>




{% endblock main%}
{% block Own_js %}
    {{ super() }}
    <script src="/static/js/portrait/identify_table.js"></script>
    <script type='text/javascript' src='/static/js/portrait/sensitive_manage.js'></script>

    {% endblock Own_js %}
