{% extends "info_consume/daohang_public.html" %}

{% block part_name %}圈子推荐—圈子探索{% endblock %}

{% block main %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap Test__editor GuoJia</title>
    <!-- Bootstrap -->
    <link href="../../static/info_consume/css/bootstrap.min.css" rel="stylesheet">
     <link href="../../static/info_consume/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/info_consume/css/bootstrap-table.css" rel="stylesheet" >
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css" rel="stylesheet">-->
    <link href="../../static/info_consume/css/bootstrap-select.min.css" rel="stylesheet" >
    <link href="../../static/info_consume/css/bootstrap-table.css" rel="stylesheet" >
    <!--<link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >-->
    <link href="../../static/info_consume/css/font-awesome.min.css" rel="stylesheet" >
    <!--自己的css样式，顺序靠后优先级越高-->
    <link href="../../static/info_consume/css/boot_test.css" rel="stylesheet">
   <link href='//cdn.webfont.youziku.com/webfonts/nomal/91298/19466/57d2c0a2f629d81ac8902aeb.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div class="myContainer">
      <div class="row">
        
        <span id="username" style='display:none'>{{ g.user }}</span>
      </div>      
      <div class="row">
       <div style="margin-left:53px;margin-right:13px;height:200px;">
       <div class="row" style="height:140px;text-align:center;"><span style="font-size:29px;color:#5cb85c;padding-top:60px;display:block;" class="css5b469c467164a2"><i class="fa fa-child" aria-hidden="true"></i>世界是个大圈圈<br/>圈起你我还有Ta<i class="fa fa-child" aria-hidden="true"></i></span></div>
        <div class="col-md-2"></div>
        <div class="col-md-8 input-group">
          <div class="input-group-btn">  
            <select id="search_norm" name="type" class="form-control selectpicker" data-style="btn-success">  
              <option>兴趣圈</option>  
              <option>朋友圈</option>  
            </select>  
          </div>  
            <input id="keyword_hashtag" type="text" class="form-control" placeholder="您想找什么圈子呢？"/><span id="search-btn" class="input-group-addon btn btn-success">进入圈子</span>
        </div> 
        <div class="col-md-2"></div> 
        </div>           
      </div>
      <hr style="border:1px dashed #987cb9;width:100%;height:1px" />
      <div class="row">
        <div class="col-md-12" style="margin-left:40px;">          
          <div class="panel panel-default" border="1" style="margin-right:40px;">
            <div class="panel-heading"><b>我的兴趣圈<i class="fa fa-bars" aria-hidden="true" style="cursor:pointer;margin-left:5px;" data-toggle="collapse" data-parent="#sort-result" href="#topic-manage"></i></b>
            </div>
            <div id="topic-manage" class="panel-body collapse" style="padding:10px;">
              <table id="topic-task" class="table table-hover table-condensed"></table>
            </div>
          </div> 
        </div>
      </div>
      <div id="sort-result" class="row">
         <div class="col-md-3 sidebar-content">
  		   <ul class="ver-inline-menu" style="margin-bottom:25px;">
    		    <li id="week-influ" class="area-title active"><a id="total-influ" href="#" data-toggle="tab"><i class="fa fa-bar-chart" aria-hidden="true"></i>一周影响力榜单</a></li>
    		    <li><a id="education" href="#" data-toggle="tab"><i class="fa fa-graduation-cap" aria-hidden="true"></i>教育圈名人榜</a></li>
            <li><a id="politics" href="#" data-toggle="tab"><i class="fa fa-university" aria-hidden="true"></i>政治圈名人榜</a></li>
            <li><a id="military" href="#" data-toggle="tab"><i class="fa fa-rocket" aria-hidden="true"></i>军事圈名人榜</a></li>
            <li><a id="tech" href="#" data-toggle="tab"><i class="fa fa-flask" aria-hidden="true"></i>科技圈名人榜</a></li>
            <li><a id="amusement" href="#" data-toggle="tab"><i class="fa fa-music" aria-hidden="true"></i>娱乐圈名人榜</a></li>
            <li><a id="sports" href="#" data-toggle="tab"><i class="fa fa-bicycle" aria-hidden="true"></i>体育圈名人榜</a></li>
            <li><a id="business" href="#" data-toggle="tab"><i class="fa fa-briefcase" aria-hidden="true"></i>商业圈名人榜</a></li>
            <li><a id="livehood" href="#" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i>民生圈名人榜</a></li>
            <li><a id="others" href="#" data-toggle="tab"><i class="fa fa-bullhorn" aria-hidden="true"></i>小众圈名人榜</a></li>
          </ul>
		  </div>
        <div class="col-md-9">
          <div id="sort-panel" class="panel panel-default">
            <div class="panel-heading"><b>圈子查看</b></div>
            <div class="panel-body">
              <div id="toolbar">
                <div class="btn btn-success" onclick="addgroup()">圈子追踪</div><i class="fa fa-lightbulb-o" id="chase" aria-hidden="true" style="cursor:pointer;margin-left:5px;" data-toggle="tooltip" title="勾选下表中的任意用户，系统可对您所选群体进行全面分析" data-placement="bottom"></i>
              </div>
              <div id="table-user-contain"><table id="table-user" class="table table-hover"></table></div>
              <div id="table-user-user-contain"><table id="table-user-user" class="table table-hover"></table></div>
              <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">提交追踪任务</h4>
                            </div>
                            <div class="modal-body">
                              <form role="form" action="javascript:void(0)">
                                <div class="form-group">
                                  <button type="button" style="margin-bottom:5px;" class="btn btn-primary"  data-toggle="modal" data-target="#new_Modal">新建</button>
                                  <div style="overflow-x: auto; overflow-y: auto; height: 100px; width:100%;">
                                  <!--  <table border="0" align="center" style="height: 200px; width:30%;">
                                      <tbody id="group_list"></tbody>
                                    </table>-->
                                    <ul id="group_list" style="padding:0px;margin:0px;color: #666666;font-family: 'Microsoft Yahei', 'Simsun' !important;font-size:14px;"></ul>
                                  </div>                                 
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                                <button id="cancel_model" type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>

                                  <!--新建群组-->
                                  <div class="modal fade" id="new_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                          </button>
                                          <h4 class="modal-title" id="myModalLabel">
                                            新建追踪任务
                                          </h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" class="form-control" id="cicle_name" placeholder="想起个什么名儿呢？">
                                        </div>
                                        <div class="modal-footer">
                                          <button id="new_grou" type="button" class="btn btn-primary" onclick="new_group_build()">
                                            提交
                                          </button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                          </button>
                                        </div>
                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                
            </div>
          </div>  
        </div>
      </div>
    </div>

    <script src="../../static/info_consume/js/jquery-1.11.3.min.js"></script>
    <script src="../../static/info_consume/js/bootstrap.min.js"></script>
    <script src="../../static/info_consume/js/bootstrap-table.js"></script>
    <script src="../../static/info_consume/js/bootstrap-table-zh-CN.js"></script>
    <script src="../../static/info_consume/js/boot_test.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>-->
    <script src="../../static/info_consume/js/bootstrap-select.min.js"></script>
  </body>
    {% endblock %}
</html>
