{% extends "info_consume/daohang_public.html" %}
{% block part_name %}圈子推荐—圈子追踪{% endblock %}
{% block main %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap Test__editor GuoJia</title>
    <!-- Bootstrap -->
    <link href="../../static/info_consume/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/info_consume/css/bootstrap-table.css" rel="stylesheet" >
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css" rel="stylesheet">-->
    <!--自己的css样式，顺序靠后优先级越高-->
    <link href="../../static/info_consume/css/circle_test.css" rel="stylesheet">
    <script src="../../static/info_consume/js/esl.js"></script>
  </head>
    <style type="text/css">
      @media screen and (min-width: 770px)  and (max-width: 1224px) {
        .myContainer {
          margin-left: 80px!important;
        }
        .zhuizong {
          width: 102%;
          min-width: 670px;
        }
        .fixed-table-body,.fixed-table-header {
          min-width: 600px;
        }
        .row .col-md-6 {
          /*width: 130%;*/
          /*min-width: 510px;*/
        }
        #identi-distri,#area-distri {
          margin: 0 auto;
        }
        #influen-line,#geo-distri {
          margin-left: 0!important;
        } 
        #circle-Tab {
          min-width: 538px;
        }
        .jinyiyue {
          width: 132%;
          min-width:720px; 
        }
        #activi-line {
          margin-left: 0!important;

        }
        .dili {
          width: 136%;
        }
        .hu {
          width: 153%;
        }
        #keyword-cloud {
          margin: 0 auto;
        }
        #topic-cloud {
          margin: 0 auto;
        }
        .wu {
          width: 140%;
        }
        #mood-feature {
          width: 146%;
        }
      }


    </style>

  <body>
    <div style="top:0px;" id="myContainer"></div>
    <div class="myContainer">
      <div class="row" id="circle-analysis" style="display:none;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div style="top:0px;margin-bottom:10px;color:#837A7A;" id="current"></div>
          <ul id="circle-Tab" class="nav nav-tabs">
            <li class="active feature_tab" title="基本特征"><a id="basic_tab" href="#basic-feature" data-toggle="tab">基本特征</a></li>
            <li class="feature_tab" title="活跃特征"><a href="#active-feature" data-toggle="tab">活跃特征</a></li>
            <li class="feature_tab" title="兴趣特征"><a href="#interest-feature" data-toggle="tab">兴趣特征</a></li>
            <li class="feature_tab" title="社交特征"><a href="#social-feature" data-toggle="tab">社交特征</a></li>
            <li class="feature_tab" title="情绪特征"><a href="#mood-feature" data-toggle="tab">情绪特征</a></li>
            <li style="float:right;"><button id="close-circle" class="btn btn-primary">收起</button></li>
          </ul>            
          <div id="circleTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="basic-feature">
              <div class="row">
                <div class="col-md-12" style="min-width:760px;">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>近一月圈子影响力走势</b></div>
                    <div id="influen-line" class="panel-body" style="margin-left:40px;width:720px;height:400px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>用户身份分布</b></div>
                    <div id="identi-distri" class="panel-body" style="padding-left:20px;width:370px;height:400px;"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>用户领域分布</b></div>
                    <div id="area-distri" class="panel-body" style="padding-left:20px;width:370px;height:400px;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="active-feature">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success jinyiyue" border="1">
                    <div class="panel-heading"><b>近一个月群体活跃度走势</b></div>
                    <div id="activi-line" class="panel-body" style="margin-left:40px;width:720px;height:400px;"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 hu">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>活跃用户</b></div>
                    <div id="activi-users" class="panel-body"  style="height:250px;">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 hu">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>僵尸用户</b></div>
                    <div id="unactivi-users" class="panel-body" style="height:250px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row dili">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>近一个月地理活跃度分布</b></div>
                    <div id="geo-distri" class="panel-body"  style="margin-left:40px;width:720px;height:400px;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="interest-feature">
              <div class="row">
                <div class="col-md-6">
                  <div class="panel panel-default panel-success" border="1" style="min-width:344px;">
                    <div class="panel-heading"><b>关键词</b></div>
                    <div id="keyword-cloud" class="panel-body" style="width:360px;height:400px;margin:0;"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default panel-success" border="1" style="min-width:344px;">
                    <div class="panel-heading"><b>微话题</b></div>
                    <div id="topic-cloud" class="panel-body" style="width:360px;height:400px;"></div>
                  </div>
                </div>
              </div>
             <!-- <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>相关话题微博</b></div>
                    <div class="panel-body"></div>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="tab-pane fade" id="social-feature">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success wu" border="1">
                    <div class="panel-heading"><b>内部转发关系图</b></div>
                    <div id="in-retwwie" class="panel-body" style="margin-left:40px;width:720px;height:400px;"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success wu" border="1">
                    <div class="panel-heading"><b>外部转发关系图</b></div>
                    <div id="out-retwwie" class="panel-body" style="margin-left:40px;width:720px;height:400px;"></div>
                  </div>
                </div>
              </div>
             <!-- <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success" border="1">
                    <div class="panel-heading"><b>相关转发话题微博</b></div>
                    <div class="panel-body"></div>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="tab-pane fade" id="mood-feature">
            <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success" border="1" style="min-width:805px;">
                    <div class="panel-heading"><b>近一周群体情绪波动曲线</b></div>
                    <div class="panel-body">
                     <div id="senti-trend" style="width:820px;height:400px;float:left;"></div>
                     <div id="senti-weibo" style="background-color:#eeeeee;width:700px;height:300px;float:left;margin-left:30px;padding-right:20px;">
                     <div id='group_select_time' style="color:#3F51B5;font-weight:bold;margin-top:2px;margin-left:10px;font-size:13px;"></div>
                     <div id="group_emotion_loading" style="display:block;margin-left:10px;">正在加载，请稍后...</div>
                   <!--  <div id="group_weibo_text" style="margin-top:5px;margin-left:10px;">
                     </div>-->
                     <div style="overflow-x: auto; overflow-y: auto;height:220px;">
                     <table id="input-table" class="In-table" style="margin-left:10px;"></table>
                     </div>
                     <div style="position:absolute;top: 720px;left: 155px;">
                      <span style="float:left;">每页显示<input type="text" id="PageNo" size="3" value="3"/>行</span>
                      <div id="div-button" style="float:left;margin-left:5px;">
                      <input type="button" value="首页" id="F-page">
                      <input type="button" value="上一页" id="Pre-page">
                      <input type="button" value="下一页" id="Nex-page">
                      <input type="button" value="尾页" id="L-page">
                      </div>
                      <span style="float:left;">&nbsp;当前第<span id="s2"></span>页</span>
                      <span style="float:left;">总共<span id="s1"></span>页</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default panel-success" border="1" style="min-width:805px;">
                    <div class="panel-heading"><b>近一周群体情绪分布</b></div>
                    <div id="senti-pie" class="panel-body" style="margin-left:40px;width:720px;height:400px;"></div>
                  </div>
                </div>
           </div>
          </div>
        </div>
      </div>
       <div class="col-md-1"></div>
      </div>  <!-- 分析结果结束-->
      <div class="row" id="circle-manage">
       <div class="col-md-1"></div>
          <div class="col-md-10">          
             <div class="panel panel-default zhuizong" border="1">
               <div class="panel-heading"><b>追踪任务列表</b></div>
                <div class="panel-body" style="padding:10px;">
                  <table id="cicle-task" class="table table-hover table-condensed" data-height="500"></table>
                </div>
             </div> 
               <!--查看群组人员详情-->
                   <div class="modal fade" id="detail_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                          </button>
                                          <h4 class="modal-title">
                                            圈子组成
                                          </h4>
                                        </div>
                                      <div class="modal-body" style="overflow-x: auto; overflow-y: auto;height:500px;">
                                      <div id="num_btn" class="btn btn-danger"  style="float:right;">删除</div>
                                           <!-- <div id="num_btn" class="btn btn-danger"  style="float:right;" data-toggle="tooltip" title="删除成员后，查看结果需要重新等待计算哦~请慎思！" data-placement="bottom">删除</div> -->
                                            <table id="consitute" class="table table-hover" style="width:100%;"></table>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                          </button>
                                        </div>
                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
          </div>
       <div class="col-md-1"></div>
      </div>
    <script src="../../static/info_consume/js/jquery-1.11.3.min.js"></script>
    <script src="../../static/info_consume/js/bootstrap.min.js"></script>
    <script src="../../static/info_consume/js/bootstrap-table.js"></script>
    <script src="../../static/info_consume/js/bootstrap-table-zh-CN.js"></script>
    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>-->
    <script src="../../static/info_consume/js/echarts-all-guo.js"></script>
    <script src="../../static/info_consume/js/map.js"></script>
    <script src="../../static/info_consume/js/echarts-map.js"></script>
    <script src="../../static/info_consume/js/circle_basic.js"></script>
    <script src="../../static/info_consume/js/circle_activity.js"></script>
    <script src="../../static/info_consume/js/circle_preference.js"></script>
    <script src="../../static/info_consume/js/circle_social.js"></script>
    <script src="../../static/info_consume/js/circle_psy.js"></script>
    <!-- <script src="../../static/info_consume/js/require.js" defer async="true" ></script> -->
    <script src="../../static/info_consume/js/circle_test.js"></script>
    <script type="text/javascript">
    /**软件功能切换js**/
   

</script>
  </body>
  {% endblock %}
</html>