<!DOCTYPE html>
<html>
<head>
{% block head_meta %}
  <meta charset="utf-8">
  <title>{% block title %}微世界{% endblock %}</title>   
  <style type="text/css">
  body { font-family:"Microsoft Yahei";
    background-color:#F2F4F8; } 
  @font-face{
    font-family: 'zzgf';
    src:url('/static/info_consume/fonts/zaozigongfang.otf');
  }
  </style>
{% endblock %}
  <!-- end head 标签 -->

  <!-- 布局CSS -->
{% block css%}
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
<!-- end css -->
 {% endblock %}

 {% block get_var_js%}
  <script type="text/javascript">
      var uid ='{{g.user.email}}';
  </script>
 {% endblock %}
<!-- 引入js -->
 {% block head_js%}
<style type="text/css">
  #menu li a {
    font-weight: 700;
  }
</style>
 

 {% endblock %}
 <!-- end js -->
</head> 
<script type="text/javascript">
   //获取系统时间，将时间以指定格式显示到页面。  
    function getSystemTime()  
    {  
        //获取系统时间。  
        var dateTime=new Date();  
        var hh=dateTime.getHours();  
        var mm=dateTime.getMinutes();  
        var ss=dateTime.getSeconds();
        var dd=dateTime.getDate();
        var mt=dateTime.getMonth();
        var yy=dateTime.getFullYear();
        var mmm=dateTime.getMilliseconds();
          
        //分秒时间是一位数字，在数字前补0。  
        mm = extra(mm);  
        ss = extra(ss);  
          
        //将时间显示到ID为time的位置，时间格式形如：19:18:02  
        return yy+"-"+mt+"-"+dd+" "+hh+":"+mm+":"+ss+":"+mmm;  
    }  
      
    //补位函数。  
    function extra(x)  
    {  
        //如果传入数字小于10，数字前补一位0。  
        if(x < 10)  
        {  
            return "0" + x;  
        }  
        else  
        {  
            return x;  
        }  
    } 
</script>
<body>
  <!--top nav-->
  {% block header %}  
  <div class="topnav">   
     <a href="#home"><img src="../../static/info_consume/image/title.png"></a>    
      <ul id="menu" style="margin-left:50%;width:530px;">

        <li><a href="/index/home" style="margin-top: 15px;font-size: 20px;width: 100px;">我的地盘</a>

          <ul style="margin-left:0px;">
            <li><a href="/index/home" >形象画板</a></li>
            <li><a href="/index/myzone" >我的管家</a></li>
          </ul>
        </li>           
        

        <li><a href="/index/weiborecommand" style="margin-top: 15px;font-size: 20px;">微博那些事</a></li>

        <li><a href="/index/boot_test" style="margin-top: 15px;font-size: 20px;width: 100px;">圈子推荐</a>
          <ul style="margin-left:0px;">
            <li><a href="/index/boot_test">圈子探索</a></li>
            <li><a href="/index/circle_test">圈子追踪</a></li>           
          </ul>
        </li>

        <li><a href="/index/personalizedRec" style="margin-top: 15px;font-size: 20px;width: 120px;">个性化推荐</a></li>
        <li><a href="/logout" style="margin-top: 15px;font-size: 20px;width: 80px;">登出</a></li>
      </ul>
  </div>
  
  {% endblock %}
  <!--end 导航-->
  {% block sub_title %}
  <div style="margin-top:7%">
        <div><span  style="color:#666666;margin-left: 17%;font-size: 25px;font-weight: bold;font-family: 微软雅黑;">{% block part_name %}好友个人空间{% endblock %}</span></div>
        <hr style="width:80%;margin-left: 10%;height:1px;border:none;    margin-top: 20px;border-top:2.5px solid #b7b2b2;"/>
      </div>
  {% endblock%}
  
<!--各页面核心内容-->
  {% block main %}

  {% endblock %}

  
    <!-- DIY js -->
  {% block Own_js %}



  {% endblock %}
  <!-- end DIY -->


  </body>
