
<!-- 分析指标——微博用户转发网 -->
		<div style="margin-top: -7.5%;">
			<div id="time_trend_title_line1"></div>
			<p id="time_trend_title">微博用户转发网</p>
			<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
		</div>

<!-- 引入微博用户转发网 -->
<div id="main_network_bigger">
	<div id="main_network" >
	
	</div>



	<div id="left_line_right_network"></div>
	<div id="right_col_network">
		<div id="right_col_title_1_network">
			<div id="right_col_title_1_network_blue"></div>
			<div id="right_col_title_1_network_green"></div>
			<img id="img_person" src="../../static/info_consume/image/person.png">
			<span id="trend_maker" onclick="get_trend_type('maker')">重要微博用户</span>
			<!-- <span id="trend_pusher" onclick="get_trend_type('pusher')">&nbsp;推动者</span> -->
      
		     <!--  <div class="btn-group" data-toggle="buttons">
		       <label class="btn btn-primary" id="label7" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="get_trend_type('maker')">
		         <input type="radio" name="options" id="trend_maker" onClick="changecolor(this)">&nbsp;发起者&nbsp;|
		       </label>
		       <label class="btn btn-primary" id="label8" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="get_trend_type('pusher')">
		          <input type="radio" name="options" id="trend_pusher" onClick="changecolor(this)"> &nbsp;推动者
		       </label>
		  	  </div> -->
		</div>
		<div id="right_col_title_2_network">
			<!-- 用户头像 -->
			<div id="users">
			      <span class="label place_label" style="color: #868686;">发起者</span>
			      <span class="label place_label" style="color: #868686;">推动者</span>
			      <div class="halving_line4"></div>
  			</div>
			<div id="id" style="display:none; width:250px; height:150px; background-color:#D1EEEE;position:absolute;">
				
			</div>

			<!-- <div id="id" style="display:none; width:250px; height:150px; background-color:#D1EEEE;position:absolute;"></div> -->

		</div>
	</div>
</div>
<!-- 网络图见.js文件 -->

<!-- <script>
  sigma.parsers.json('data.json', {
    container: 'container',
    settings: {
      defaultNodeColor: '#ec5148'
    }
  });
</script> -->

	

<!-- 分割线 -->
<div class="halving_line2"></div>

<!-- 微博浏览区 -->
<div>
	<div id="blog_scan_title_line1"></div>
	<p id="blog_scan_title">微博浏览区</p>
	<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
</div>

<div id="blog_scan_area_network_top">
  <div id="blog_scan_title_line2_network"></div>
  <div id="blog_scan_title_line3_network"></div>
  <p id="blog_scan_title2_network">排序方式：</p>
  <div class="btn-group" data-toggle="buttons" id="btn_radio_network">
       <label class="btn btn-primary" id="label7" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;">
         <input type="radio" name="options" id="option7" onClick="changecolor(this)"> 按时间
       </label>
       <label class="btn btn-primary" id="label8" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;">
          <input type="radio" name="options" id="option8" onClick="changecolor(this)"> 按热度
       </label>
  </div>

  <div id="networks">
      <span class="label place_label" style="color: #868686;">发起微博</span>
      <span class="label place_label" style="color: #868686;">推动微博</span>

  </div>

  <div class="halving_line3"></div>

</div>

<div id="blog_scan_area_network">
	
	<!-- 微博浏览区 -->
	
</div>
