<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>



<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>date_detail</title>

	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/jqcloud.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/date_time.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/htmleaf-demo.css"> -->
    <link rel="stylesheet" type="text/css" href="../../static/info_consume/css/jquery.eeyellow.Timeline.css" />


<!--js文件 --> 


	<script type="text/javascript" src="../../static/info_consume/js/jquery.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/info_consume/js/moment.min.js"></script>
	<script type="text/javascript" src="../../static/info_consume/js/moment-with-locales.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../static/info_consume/js/bootstrap-datetimepicker.min.js"></script>

 	<!-- <script type="text/javascript" src="../../static/info_consume/js/echarts/doc/asset/js/esl.js"></script> -->
 	<script type="text/javascript" src="../../static/info_consume/js/echarts.js"></script>
 	<!-- <script type="text/javascript" src="../../static/info_consume/js/echarts/src/echarts.js"></script> -->
 	<!-- <script type="text/javascript" src="../../static/info_consume/js/echarts.min.js"></script> -->
 	
 	<script type="text/javascript" src='../../static/info_consume/js/echarts-all.js'></script>
 	<!-- <script type="text/javascript" src='../../static/info_consume/js/echarts/src/chart/graph/graph.js'></script> -->

 	<!-- <script type="text/javascript" src="../../static/info_consume/js/require.js"></script> -->
 	<!-- <script type="text/javascript" src="../../static/info_consume/js/require.min.js"></script> -->
 	
 	<script type="text/javascript" src='../../static/info_consume/js/map.js'></script>
 	<script type="text/javascript" src='../../static/info_consume/js/echarts-map.js'></script>
 	<script src="../../static/info_consume/js/jqcloud-1.0.4.js" type="text/javascript" charset="utf-8"></script>
 	<script type="text/javascript" src='../../static/info_consume/js/dataTool.js'></script>
 	<script type="text/javascript" src="../../static/info_consume/js/jquery.eeyellow.Timeline.js"></script>

</head>

<body>

<div id="time_top">
	<div>
		<a href="/index/date_index" style="color: #FFFFFF;font-family: Microsoft YaHei;margin-top: 1%;margin-left: 90%;float: left;">首页</a>
		<span style="color: #FFFFFF;font-family: Microsoft YaHei;margin-top: 1%;margin-left: 0.5%;float: left;">/</span>
		<a href="http://home.baidu.com/contact.html" style="color: #FFFFFF;font-family: Microsoft YaHei;margin-top: 1%;margin-left: 0.5%;float: left;">关于</a>
	</div>

	<div id="myTabContent" class="tab-content">	
		<img id="date" src="../../static/info_consume/image/date.png">

		<ul id="myTab" class="nav nav-tabs">
		   <li class="active"><a href="#time" data-toggle="tab" id="menu_font">
		   		<img class="menu_img" id="menu_img" src="../../static/info_consume/image/time.png">
		   		时间</a></li>
		   <li onclick="place_load()"><a href="#place" data-toggle="tab" id="menu_font">
		   		<img class="menu_img" id="menu_img" src="../../static/info_consume/image/place.png">
		   		地域</a></li>
		   <li onclick="network_load()"><a href="#network" data-toggle="tab" id="menu_font">
		   		<img class="menu_img" id="menu_img" src="../../static/info_consume/image/network.png">
		   		网络</a></li>
		   <li onclick="emotion_load()"><a href="#emotion" data-toggle="tab" id="menu_font">
		   		<img class="menu_img" id="menu_img" src="../../static/info_consume/image/emotion.png">
		   		情绪</a></li>
		   <li onclick="meaning_load()"><a href="#meaning" data-toggle="tab" id="menu_font">
		   		<img class="menu_img" id="menu_img" src="../../static/info_consume/image/meaning.png">
		   		语义</a></li>
		</ul>
		<script type="text/javascript">

		function go_to_place(){
			
			// document.getElementById('meaning').style.display="block"; 
			window.location.href="/topic_geo_analyze/place";
		}
			 
		</script>


	 		<img class="topic_img" id="topic_img" src="../../static/info_consume/image/topic.png">
	 		
	 		<script type="text/javascript">
	 			var topic_name_on_detail = "{{topic_name}}";
	 			console.log(topic_name_on_detail);
 	 			var html = '';
	 			html += '<p class="topic_text">#'+topic_name_on_detail+'#</p>';

	 			$('#myTabContent').append(html);
	 		</script>
		    
		    <p class="topic_time">日期:</p>
		    <p class="topic_time_from">从</p>
	<!-- 时间段选择 -->
		    	<div class="container">
	    			<div class='col-md-3' id="date1">
	       				<div class="form-group">
	        	    		<div class='input-group date' id='datetimepicker9' style="width: 202px;margin-top: -0.5%;margin-left: 0%;z-index: 999999;">
	                			<input type='text' class="form-control" id='datetimepicker9_input'/>
	                			<span class="input-group-addon">
	                				<span class="glyphicon glyphicon-calendar"></span>
	                			</span>
	           		 		</div>
	        			</div>
	    			</div>
	    			   <p class="topic_time_to">到</p>
	    			<div class='col-md-3' id="date2" style="float: left;width: 5%;">
	        			<div class="form-group" style="float: left;width: 8%;">
	            			<div class='input-group date' id='datetimepicker10' style="width: 202px;position: relative;margin-top: -60%;margin-left: -1330%;float: left;z-index: 999999;">
	                			<input type='text' class="form-control" id='datetimepicker10_input'/>
	                			<span class="input-group-addon">
	                				<span class="glyphicon glyphicon-calendar"></span>
	                			</span>
	            			</div>
	        			</div>
	    			</div>

	    			<!-- <div class="btn_commit" class="bs-example">
	   					<button type="button" class="btn btn-primary" style="background-color: #00CC66;border-color: #00CC66;font-family: Microsoft YaHei;">确定</button>
					</div> -->
					<div class="btn_commit" class="bs-example">
	   					<button id="commit" type="button" class="btn btn-primary" style="background-color: #00CC66;border-color: #00CC66;font-family: Microsoft YaHei;">确定</button>
					</div>


				</div>
				<script type="text/javascript">
					// $(function(){
					// 	$('#commit').click(function(){
							var date_time_from = "{{date_from}}";
							var date_time_to = "{{date_to}}";
							
							if(date_time_from && date_time_to){
								$("#datetimepicker9_input").val(date_time_from);
								$("#datetimepicker10_input").val(date_time_to);
							}
					// 	});
					// });
						
				    $(function () {
				        $('#datetimepicker9').datetimepicker();
				        $('#datetimepicker10').datetimepicker();
				        // $('#datetimepicker9').data("DateTimePicker").maxDate(e.date);
				        // $('#datetimepicker9').data("DateTimePicker").minDate(date_time_from);
				        // $('#datetimepicker10').data("DateTimePicker").minDate(e.date);
				        // // $('#datetimepicker10').data("DateTimePicker").minDate(e.date);
				        // $('#datetimepicker10').data("DateTimePicker").maxDate(date_time_to);
				  //       $("#datetimepicker9").datetimepicker({
						//         minDate:date_time_from
						//         maxDate: date_time_to
						// });
						// $("#datetimepicker10").datetimepicker({
						//         minDate:date_time_from
						//         maxDate: date_time_to
						// });


						//首次选择日期的时候设置限制
						// $("#datetimepicker9").on("dp.generate",function (e) {
				  //           $('#datetimepicker10').data("DateTimePicker").minDate(date_time_from);
				    
				  //       });
				  //       $("#datetimepicker10").on("dp.generate",function (e) {
				            
				  //           $('#datetimepicker9').data("DateTimePicker").maxDate(date_time_to);

				  //       });

				        //改变日期的时候设置限制
				        $("#datetimepicker9").on("dp.change",function (e) {
				            $('#datetimepicker10').data("DateTimePicker").minDate(e.date);
				          
				            // $('#datetimepicker10').data("DateTimePicker").maxDate(date_time_to);
				        });
				        $("#datetimepicker10").on("dp.change",function (e) {
				            
				            $('#datetimepicker9').data("DateTimePicker").maxDate(e.date);
				            // $('#datetimepicker9').data("DateTimePicker").minDate(date_time_from);
				        });
				    });
				</script>
	<!-- 分割线 -->
			<div class="halving_line"></div>




<!-- 时间 -->
<div class="tab-pane fade in active" id="time" style="margin-top: -3%;">
	{% include "info_consume/date_time.html"%}
</div>


<!-- 地域 -->
<div class="tab-pane fade" id="place">
	{% include "info_consume/date_place.html"%}
</div>


<!-- 网络 -->
<div class="tab-pane fade" id="network">
	{% include "info_consume/date_network.html"%}
</div>


<!-- 情绪 -->
<div class="tab-pane fade" id="emotion">
	{% include "info_consume/date_emotion.html"%}
</div>


<!-- 语义 -->
<div class="tab-pane fade" id="meaning">
	{% include "info_consume/date_meaning.html"%}
</div>


	</div>


</div>

</body>


 	<script type="text/javascript" src="../../static/info_consume/js/date_time.js"></script>
 	<script type="text/javascript" src="../../static/info_consume/js/date_place.js"></script>
 	<script type="text/javascript" src="../../static/info_consume/js/date_network.js"></script>
 	<script type="text/javascript" src="../../static/info_consume/js/date_meaning.js"></script>
 	<script type="text/javascript" src="../../static/info_consume/js/date_emotion.js"></script>
	

</html>