
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>date_index</title>
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" type="text/css" href="../../static/info_consume/css/date_index.css">
	<script type="text/javascript" src="../../static/info_consume/js/jquery.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/info_consume/js/moment.min.js"></script>
	<script type="text/javascript" src="../../static/info_consume/js/moment-with-locales.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../static/info_consume/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		var topic_name = "{{topic_name}}";
		if(topic_name){
			$("#input").val("topic_name");
		}
	</script>

	<script type="text/javascript">
        function checkText(){
            var textValue = document.getElementById("input").value;
            if(textValue == ""){
                alert("输入框不能为空！");
            }
        }
    </script>
</head>

<body>

<div id="index_top">
	<img id="date" src="../../static/info_consume/image/date.png">

<!-- 搜索框 -->
<div style="padding: 100px 100px 10px;position: relative;margin-left: 36%;margin-top: -6%;">
   <form class="bs-example bs-example-form" role="form">
      <div class="row">
         <div class="col-lg-4">
            <div class="input-group">
               <input id="input" type="text" class="form-control" placeholder="热门话题那些事儿" onblur="checkText();">
              
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal_date_choose">
                     Go!
                  </button>
               </span>
            </div><!-- /input-group -->
         </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
   </form>

</div>



<!-- 模态框1（Modal_date_choose） -->
<div class="modal fade" id="myModal_date_choose" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               请选择话题事件分析的时间段
            </h4>
         </div>
         <div class="modal-body">

<!-- 时间段选择 -->
		<div class="container">
			<p class="topic_time_from_index" style="margin-top: 5%;">From</p>
		    			<div class='col-md-3' id="date1">
		       				<div class="form-group">
		        	    		<div class='input-group date' id='datetimepicker_index_from' style="width: 202px;margin-left: 17%;margin-top: -15%;float: left;">
		                			<input type='text' class="form-control" />
		                			<span class="input-group-addon">
		                				<span class="glyphicon glyphicon-calendar"></span>
		                			</span>
		           		 		</div>
		        			</div>
		    			</div>
		    			   <p class="topic_time_to_index" style="float: left;position: relative;margin-left: -1%;margin-top: -2.6%;">To</p>
		    			<div class='col-md-3' id="date2">
		        			<div class="form-group">
		            			<div class='input-group date' id='datetimepicker_index_to' style="width: 202px;margin-top: -15%;margin-left: -1%;float: left;">
		                			<input type='text' class="form-control" />
		                			<span class="input-group-addon">
		                				<span class="glyphicon glyphicon-calendar"></span>
		                			</span>
		            			</div>
		        			</div>
		    			</div>

		    			<!-- <div class="btn_commit" class="bs-example">
		   					<button type="button" class="btn btn-primary" style="background-color: #00CC66;border-color: #00CC66;font-family: Microsoft YaHei;">确定</button>
						</div> -->

					</div>
					
					<script type="text/javascript">
					    $(function () {
					        $('#datetimepicker_index_from').datetimepicker();
					        $('#datetimepicker_index_to').datetimepicker();
					        $("#datetimepicker_index_from").on("dp.change",function (e) {
					            $('#datetimepicker_index_to').data("DateTimePicker").minDate(e.date);
					        });
					        $("#datetimepicker_index_to").on("dp.change",function (e) {
					            $('#datetimepicker_index_from').data("DateTimePicker").maxDate(e.date);
					        });
					    });
					</script>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">我想换词
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_waiting_tip">
               选好了
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


<!-- 模态框2（Modal_waiting_tip） -->
<div class="modal fade" id="myModal_waiting_tip" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               温馨提示
            </h4>
         </div>
         <div class="modal-body">
            对于当前搜索的关键词后台需要5分钟时间进行计算分析，是否要继续提交？
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">否，换个词试试
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_progress">
               是，我愿意等待
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


<!-- 模态框3 -->
<div class="modal fade" id="myModal_progress" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               正在分析计算……
            </h4>
         </div>
         <div class="modal-body">
            <!-- 进度条 -->
            <div class="progress" id="myModal_progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
					<span class="sr-only">40% 完成</span>
				</div>
			</div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">我要放弃
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_progress" onclick="goto_date_detail()">
               完成
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


</div>
<script type="text/javascript">
	function goto_date_detail() {
		// window.open("file:///C:/Users/YuanHR/Desktop/D-A-T-E system/templates/date_detail.html")
		topic_name = $('#input').val();
		window.open('/topic_time_analyze/time/?topic_name='+topic_name); 
		// window.location.href='/topic_time_analyze/time/?topic_name='+topic_name;
		// window.location.href='/topic_time_analyze/time/?topic_name='+topic_name+'&start_ts='+start_ts+'&end_ts='+end_ts;
	}
</script>



<div id="index_bottom">
	<img id="eye" src="../../static/info_consume/image/eye.png" >
	<p id="text" >大家都在看</p>
	<!-- <table id="table">
		<tr class="height">
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#里约奥运#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#中国乒乓球梦之队#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#张继科你醒醒啊#</a>
				</p>
			</td>
		</tr>
		<tr class="height">
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#中国冠军范#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#大张伟表白薛之谦#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#树读王俊凯#</a>
				</p>
			</td>
		</tr>
		<tr class="height">
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#北京积分落户十问#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#爱酱不哭#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#盗墓笔记吐槽#</a>
				</p>
			</td>
		</tr>
		<tr class="height">
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#中国冠军范#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#大张伟表白薛之谦#</a>
				</p>
			</td>
			<td>
				<img class="topic_tag" id="topic_tag" src="../../static/info_consume/image/topic_tag.png">
			</td>
			<td>
				<p id="topic" class="topic_font">
					<a href="/topic_time_analyze/time">#树读王俊凯#</a>
				</p>
			</td>
		</tr>
	</table> -->
</div>

</body>

	<script type="text/javascript" src="../../static/info_consume/js/date_index.js"></script>

</html>