<style type="text/css">


		.halving_line_meaning_2,#blog_scan_area_meaning,#blog_scan_area_meaning_top,#blog_scan_area_meaning_page {
			width: 70.5%;
		}

		@media screen and (min-width: 850px) and (max-width: 1100px) {
			#main_meaning_1 {
				margin-top: 0;
				margin-left: 17%;
			}
			#main_meaning_2 {
				margin-top: 0;
				margin-left: 12%;
			}
			#main_meaning_3 {
				margin-top: 0;
				margin-left: 35%;
			}
			#oule {
        		margin-left: 47%!important;
       		}
		}

	</style>
<!-- 分析指标——话题关键词云图 -->
		<div>
			<div id="time_trend_title_line1"></div>
			<p id="time_trend_title">话题关键词云图</p>
			<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
		</div>
		


<!-- 引入话题关键词云图 -->
<div id="main_meaning_1">		
	<!-- <div id="emotion_loading" style="width:100%;"><center>正在加载，请稍候...</center></div> -->

<!-- 画图见date_meaning.js文件 -->
</div>
	
<!-- 分割线 -->
		<div class="halving_line_meaning_1"></div>

<!-- 分析指标——事件河图 -->
		<div>
			<div id="meaning_title_line1"></div>
			<p id="meaning_title">观点事件河</p>
			<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
		</div>

<!-- 引入事件河图 -->
<div id="main_meaning_2"></div>
 	<!-- 见date_meaning.js文件 -->
 	<!-- <div id="emotion_loading" style="width:100%;"><center>正在加载，请稍候...</center></div> -->
<!-- 分割线 -->
<div class="halving_line_meaning_2"></div>

<!-- 分析指标——时间轴 -->
<div>
	<div id="meaning_title_line1"></div>
	<p id="meaning_title">观点时间轴</p>
	<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
</div>
		

<!-- 引入时间轴 -->
<div id="main_meaning_3">
	<div class="container" id="container_time_line">
       <!-- <div id="emotion_loading" style="width:100%;"><center>正在加载，请稍候...</center></div> -->
    </div>


</div>
 	 <!-- 分割线 -->
	<div class="halving_line_meaning_2"></div>
<!-- 微博浏览区 -->
	<div>
		<div id="blog_scan_title_line1"></div>
		<p id="blog_scan_title">微博浏览区</p>
		<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
	</div>
<div>
 <div id="blog_scan_area_meaning_top" style="margin:0 0 0 20.1%;">
        <div style="margin-left:16%">
            <div id="blog_scan_title_line2_meaning"></div>
            <div id="blog_scan_title_line3_meaning"></div>
            <p id="blog_scan_title2_meaning">排序方式：</p>
            <div class="btn-group" data-toggle="buttons" id="btn_radio_meaning">
                <label class="btn btn-primary active" id="label7" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="set_order_type_meaning('time')">
	     			<input type="radio" name="options" id="option7" onClick="changecolor(this)"> 按时间
	   			</label>
	   			<label class="btn btn-primary" id="label8" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="set_order_type_meaning('hot')">
	      			<input type="radio" name="options" id="option8" onClick="changecolor(this)"> 按热度
	   			</label>
            </div>


        </div>
        
    
        <div id="opinions">
            <!-- 子观点见date_meaning.js文件 -->

        </div>

        <div class="halving_line3"></div>


    </div>


	<div id="blog_scan_area_meaning">
		
		<div id="emotion_loading" style="width:100%;"><center>正在加载，请稍候...</center></div>
		<!-- <span class="loading_more" onclick="" >加载更多</span> -->
	</div>
	<div  id="blog_scan_area_meaning_page">
		<ul class="pager">
			<li class="previous" onclick="up_meaning()"><a style="font-size: 16px;" >&larr; 上一页</a></li>
			<li class="next"  onclick="down_meaning()"><a style="font-size: 16px;">下一页 &rarr;</a></li>
		</ul>
	</div>

</div>
