
	      
<!-- 分析指标——情绪走势图 -->
		<div>
			<div id="time_trend_title_line1"></div>
			<p id="time_trend_title">情绪走势图</p>
			<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
		</div>
		<div><p id="per_time">单位时间：</p></div>

		<div class="btn-group" data-toggle="buttons">
   			<label class="btn btn-primary" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686">
     			<input type="radio" name="options" onClick="changecolor(this)"> 15min
   			</label>
   			<label class="btn btn-primary" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686">
      			<input type="radio" name="options" onClick="changecolor(this)"> 30min
   			</label>
   			<label class="btn btn-primary" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686">
      			<input type="radio" name="options" onClick="changecolor(id)"> 1 hour
   			</label>
   			<label class="btn btn-primary" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686">
      			<input type="radio" name="options" onClick="changecolor(id)"> 1 day
   			</label>
		</div>	


		
		

<!-- 引入情绪走势图 -->
<div id="main_emotion_1"></div>
 	<!-- 见date_emotion.js文件 -->
 
<!-- 分割线 -->
		<div class="halving_line2"></div>
<!-- 分析指标——情绪热力图 -->
		<div>
			<div id="time_trend_title_line1"></div>
			<p id="time_trend_title">情绪热力图</p>
			<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
		</div>
		<div><p id="emotion_type">情绪类型：</p></div>

		<div class="btn-group" data-toggle="buttons">
   			<label class="btn btn-primary" id="label2" value="1" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_emotion_type('1')">
      			<input type="radio" name="options" id="option2" onClick="changecolor(this)"> 正向
   			</label>
   			<label class="btn btn-primary" id="label3" value="2" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_emotion_type('2')">
      			<input type="radio" name="options" id="option3" onClick="changecolor(id)"> 中立
   			</label>
   			<label class="btn btn-primary" id="label4" value="3" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_emotion_type('3')">
      			<input type="radio" name="options" id="option4" onClick="changecolor(id)"> 负向
   			</label>
   			
		</div>	

		
<!-- 引入情绪热力图 -->
<div id="main_emotion_bigger">
	<div id="main_emotion_2" ></div>
	<div id="left_line_right_emotion"></div>
	<div id="right_col_emotion">
		<div id="right_col_title_1">
			<div id="right_col_title_1_blue"></div>
			<div id="right_col_title_1_green"></div>
			<img id="img_hot" src="../../static/info_consume/image/hot.png">
			<p id="top_10">热力排行榜Top15</p>
		</div>
		<div id="right_col_title_2">
			<div id="right_col_title_2_title">
				<img id="img_rank" src="../../static/info_consume/image/rank.png">
				<p id="rank">排名</p>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<img id="img_location" src="../../static/info_consume/image/location.png">
				<p id="location">地域</p>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<img id="img_publish" src="../../static/info_consume/image/publish.png">
				<p id="publish">发布量</p>
				<div id="right_col_title_2_halving_line"></div>

			</div>
			<div id="top15_content_emotion">
				
			</div>
		</div>
	</div>
</div>

 <!-- 画图情绪热力图见date_emotion.js文件 -->
<!-- 分割线 -->
		<div class="halving_line_3"></div>

<!-- 微博浏览区 -->
<div>
	<div id="blog_scan_title_line1"></div>
	<p id="blog_scan_title">微博浏览区</p>
	<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
</div>

<div id="blog_scan_area_emotion_top">
		<div id="blog_scan_title_line2_emotion"></div>
		<div id="blog_scan_title_line3_emotion"></div>
		<p id="blog_scan_title2_emotion">排序方式：</p>
		<div class="btn-group" data-toggle="buttons" id="btn_radio_emotion">
   			<label class="btn btn-primary" id="label7" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="set_order_type('time')>
     			<input type="radio" name="options" id="option7" onClick="changecolor(this)"> 按时间
   			</label>
   			<label class="btn btn-primary" id="label8" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="set_order_type('hot')>
      			<input type="radio" name="options" id="option8" onClick="changecolor(this)"> 按热度
   			</label>
		</div>
		<div id="emotions">
			<span class="label place_label" style="color: #868686;">正向情绪</span>
			<span class="label place_label" style="color: #868686;">中立情绪</span>
			<span class="label place_label" style="color: #868686;">负向情绪</span>
		</div>

		<div class="halving_line3"></div>
</div>

<div id="blog_scan_area_emotion">
		
		<!-- 见date_emotion.js文件 -->
		<!-- <span class="loading_more" onclick="" >加载更多</span> -->
</div>
