
<!-- 分析指标——传播预测图 -->
		<div>
			<div id="time_trend_title_line1"></div>
			<p id="time_trend_title">传播预测图</p>
			<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
		</div>
<!-- 		<div><p id="per_time">单位时间：</p></div>
		<div class="btn-group" data-toggle="buttons">	
   			<label class="btn btn-primary" id="label1" value="900" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_per_time_time('900')">
     			<input type="radio" name="options" id="option1" onClick="changecolor(this)"> 15min
   			</label>
   			<label class="btn btn-primary" id="label2" value="1800" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_per_time_time('1800')">
      			<input type="radio" name="options" id="option2" onClick="changecolor(this)"> 30min
   			</label>
   			<label class="btn btn-primary active" id="label3" value="3600" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_per_time_time('3600')">
      			<input type="radio" name="options" id="option3" onClick="changecolor(this)"> 1 hour
   			</label>
   			<label class="btn btn-primary" id="label4" value="86400" style="background-color:#FFFFFF;border-color: #E4E4E4;color:#868686" onclick="get_per_time_time('86400')">
      			<input type="radio" name="options" id="option4" onClick="changecolor(this)"> 1 day
   			</label>
   			
		</div>	
		 -->
	
<!-- 引入传播预测图 -->
<div id="main_predict">
	
</div>
 		
