
<!-- 引入本页面的主体内容 -->
	<style type="text/css">
	
		#left_line_right_place {
			width: 0;
		}
		#right_col {
			margin-left: 4%;
		}
		#blog_scan_area_place_top,#blog_scan_area_place,#blog_scan_area_place_page {
			width: 70.5%;
		}
	</style>
<!-- 分析指标——地域热力图 -->
<div style="margin-top: -7.5%;">
	<div id="time_trend_title_line1"></div>
	<p id="time_trend_title">地域热力图</p>
	<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
</div>

<!-- 引入地域热力图 -->
<div id="main_place_bigger">
	<div id="main_place"></div>
	
	<div id="left_line_right_place"></div>
	<div id="right_col">
		<div id="right_col_title_1">
			<div id="right_col_title_1_blue"></div>
			<div id="right_col_title_1_green"></div>
			<img id="img_hot" src="../../static/info_consume/image/hot.png">
			<p id="top_10">热力排行榜Top15</p>
		</div>
		<div id="right_col_title_2">
			<div id="right_col_title_2_title">
				<img id="img_rank" src="../../static/info_consume/image/rank.png">
				<p id="rank">排名</p>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<img id="img_location" src="../../static/info_consume/image/location.png">
				<p id="location">地域</p>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<img id="img_publish" src="../../static/info_consume/image/publish.png">
				<p id="publish">发布量</p>
				<div id="right_col_title_2_halving_line"></div>
			</div>
			<div id="top15_content_place">
				<!-- <div id="emotion_loading" style="width:100%;"><center>正在加载，请稍候...</center></div> -->
			</div>
		</div>
	</div>
</div>

 <!-- 热力图echarts见js文件 -->

<!-- <div id="left_line_right"></div> -->

<!-- 分割线 -->
		<div class="halving_line2"></div>

<!-- 微博浏览区 -->
	<div>
		<div id="blog_scan_title_line1"></div>
		<p id="blog_scan_title">微博浏览区</p>
		<img id="img_doubt" src="../../static/info_consume/image/doubt.png">
	</div>

	<div id="blog_scan_area_place_top">
		<div id="blog_scan_title_line2_place"></div>
		<div id="blog_scan_title_line3_place"></div>
		<p id="blog_scan_title2_place">排序方式：</p>
		<div class="btn-group" data-toggle="buttons" id="btn_radio_place">
   			<label class="btn btn-primary active" id="label7" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="set_order_type_place('time')">
     			<input type="radio" name="options" id="option7" onClick="changecolor(this)"> 按时间
   			</label>
   			<label class="btn btn-primary" id="label8" style="background-color:#EEEEEE;border-color: #EEEEEE;color:#868686;font-size: 16px;font-family: Microsoft YaHei;" onclick="set_order_type_place('hot')">
      			<input type="radio" name="options" id="option8" onClick="changecolor(this)"> 按热度
   			</label>
		</div>
	
		<div id="places">
			<span class="label place_label active" style="color: #868686;" onmouseover="set_place_type('北京')">北京</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('天津')">天津</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('上海')">上海</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('重庆')">重庆</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('黑龙江')">黑龙江</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('吉林')">吉林</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('辽宁')">辽宁</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('四川')">四川</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('河北')">河北</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('新疆')">新疆</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('甘肃')">甘肃</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('青海')">青海</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('陕西')">陕西</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('宁夏')">宁夏</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('河南')">河南</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('山东')">山东</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('山西')">山西</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('安徽')">安徽</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('湖北')">湖北</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('湖南')">湖南</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('江苏')">江苏</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('内蒙古')">内蒙古</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('贵州')">贵州</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('云南')">云南</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('广西')">广西</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('西藏')">西藏</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('浙江')">浙江</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('江西')">江西</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('广东')">广东</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('福建')">福建</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('海南')">海南</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('香港')">香港</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('澳门')">澳门</span>
			<span class="label place_label" style="color: #868686;" onmouseover="set_place_type('台湾')">台湾</span>

		</div>

		<div class="halving_line3"></div>
</div>

<div id="blog_scan_area_place">
	
	<!-- 见date_place.js文件 -->
	<div id="emotion_loading" style="width:100%;"><center>正在加载，请稍候...</center></div>

</div>
<div  id="blog_scan_area_place_page">
	<ul class="pager">
		<li class="previous" onclick="up_place()"><a style="font-size: 16px;" >&larr; 上一页</a></li>
		<li class="next"  onclick="down_place()"><a style="font-size: 16px;">下一页 &rarr;</a></li>
	</ul>
</div>


