{% extends "base.html" %}
{% block module_title %}概述分析{% endblock %}
{% block head_css %}
    <link type="text/css" rel="stylesheet" href="../css/justified-nav-detail.css">
    <link rel="stylesheet" media="screen" href="../css/b1njTimeline.css">

    <style type="text/css">
        /* keywords tag cloud */
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        #keywords_cloud_div {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0px auto 0
        }

        #keywords_cloud_div a {
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Microsoft YaHei;
            color: #AD12C2;
            font-weight: bold;
            text-decoration: none;
            padding: 3px 6px;
        }

        #keywords_cloud_div a:hover {
            border: 1px solid #eee;
            background: #000;
        }
        #keywords_cloud_div .blue {
            color: blue;
        }
        #keywords_cloud_div .red {
            color: red;
        }
        #keywords_cloud_div .yellow {
            color: yellow;
        }

        #trend_div {
            height: 270px;
            width: 100%;
            float: left;
            border: 1px solid #F0F0F0;
            background: #F0F0F0;
        }

        #trend_div1 {
            height: 270px;
            width: 100%;
            float: left;
            border: 1px solid #F0F0F0;
            background: #F0F0F0;
        }

        .blkUnit {
            position: relative;
            clear: both;
            margin-top: 10px;
            background-color: #fff;
        }
        .blkUnit .titlBar {
            z-index: 4;
            position: relative;
            height: 16px;
            padding: 20px;
            background-color: #f6f6f6;
        }
        .titlBar h4 {
            display: inline-block;
            margin-top: -5px;
            padding-right: 0px;
            font-size: 15px;
            color: #666;
        }
        .titlBar .compInfo {
            padding-right: 15px;
            color: #858585;
        }
        .stmTabs{
            padding: 20px;
        }
        .stmTabs .tabTitle {
            height: 22px;
            margin-bottom: 12px;
            border-bottom: 1px solid #f0f0f0;
        }
        .stmTabs .tabLi .nmTab, .stmTabs .tabLi .hvTab {
            max-width: 110px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .stmTabs .tabLi .nmTab, .stmTabs .tabLi .hvTab {
            height: 23px;
            padding: 0 14px;
            _float: left;
        }
        .stmTabs .tabLi {
            display: block;
            float: left;
            text-decoration: none;
            color: #666;
        }
        .stmTabs .tabLi .hvTab {
            display: none;
            color: #6e87d7;
            height: 21px;
            border-bottom: 2px solid #6e87d7;
        }
        .stmTabs .tabLi:hover .hvTab,.stmTabs .tabLi.curr .hvTab {
            display: block
        }
        .stmTabs .tabLi:hover .nmTab,.stmTabs .tabLi.curr .nmTab {
            display:none
        }
        .stmTabs .tabConts {
            padding-bottom: 10px
        }
        .stmTabs .moreLnk {
            float: right;
            margin-bottom: -10px;
            _position:relative
        }
        .stmTabs .moreLnk a {
            text-decoration: none
        }
        .stmTabs .moreLnk a:hover {
            text-decoration: underline
        }
        .stmTabs .tabLi .nmTab, .stmTabs .tabLi .hvTab {
            max-width: 110px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap
        }
        .stmTabs .gColor0:hover .hvTab,.stmTabs .gColor0.curr .hvTab {
            color: #6e87d7;
            border-color: #6e87d7
        }
        .stmTabs .gColor1:hover .hvTab,.stmTabs .gColor1.curr .hvTab {
            color: #11c897;
            border-color: #11c897
        }
        .stmTabs .gColor2:hover .hvTab,.stmTabs .gColor2.curr .hvTab {
            color: #fa7256;
            border-color: #fa7256;
        }
        .stmTabs .gColor3:hover .hvTab,.stmTabs .gColor3.curr .hvTab {
            color: #b172c5;
            border-color: #b172c5
        }
        .stmTabs .gColor4:hover .hvTab,.stmTabs .gColor4.curr .hvTab {
            color: #f367a7;
            border-color: #f367a7
        }
        .weibo_list_height {
            max-height: 670px;
        }
        .scrolls {
            overflow: hidden;
        }
        .tang-scrollpanel {
            overflow: hidden;
        }
        .tang-scrollpanel .tang-scrollpanel-wrapper {
            position: relative;
            overflow: hidden;
            height: 400px;
            width: 100%!important;
        }
        .tang-scrollpanel .tang-scrollpanel-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%!important;
        }
        .tang-scrollpanel .tang-slider {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0;
        }
        .tang-scrollpanel .tang-slider-vtl {
            height: 100%;
        }
        li.item {
            line-height: 18px;
            border-bottom: 1px solid #f5f5f5;
            padding: 9px 10px 10px;
            min-height: 55px;
            _height: 55px;
        }

        .weibo_face {
            position: relative;
            float: left;
            width: 50px;
            margin-top: 2px;
        }
        .weibo_list a {
            text-decoration: none;
        }
        .weibo_face img {
            width: 50px;
            height: 50px;
        }
        .weibo_detail {
            margin-left: 65px;
            height:71px;
        }
        .weibo_list a.undlin {
            text-decoration: underline;
        }
        .weibo_info {
            margin-top: 7px;
            color: #666;
        }
        .weibo_info .weibo_pz {
            float: right;
            color: #858585;
            height: 18px;
            line-height: 18px;
        }
         a:hover {

            color: #428bca
        }
        .weibo_info .m a {
            color: #666;
        }
        .pagination ul {
            display: inline-block;
            margin-bottom: 0;
            margin-left: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
            box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        }
        .pagination-centered {
            text-align: center;
        }
        .pagination {
            margin: 20px 0;
        }
        .pagination ul>li>a, .pagination ul>li>span {
            float: left;
            padding: 4px 12px;
            line-height: 20px;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            border-left-width: 0;
        }

        .pagination ul>li {
            display: inline;
        }

        .label-important, .badge-important {
            background-color: #b94a48;
        }

        .b1njTimeline {
            box-sizing: content-box;
        }
    </style>
{% endblock head_css %}

{% block head_js %}
    <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script src="/static/js/echarts-2.0.1/_build/echarts-plain.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/index/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/index/js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/static/index/js/amstock.js"></script>
    <script type="text/javascript" src="/static/index/js/jquery.tagcanvas.min.js"></script>
    <script src="/static/css/js/miaov.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8" src="/static/index/js/sentiment_report.js"></script>
    <script src="/static/js/identify/jquery.bootpag.js"></script>
{% endblock head_js %}

{% block content %}
    <div class="blkUnit grpUnit" style="float:left;">
        <div class="titlBar" style="padding-bottom:15px;">
            <h4>事件标签</h4>
            <i id="label_tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="事件标签"></i>&nbsp;&nbsp;
        </div>
        <div class="tabUnit">
            <div class="tabTitle" style="padding-top:1px;">
            </div>
            <div class="tabConts">
                <div style="width:1033px; height: 40px; padding: 10px;">
                    {% for label in event_label %}
                        <span class="label label-default">{{ label }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="blkUnit grpUnit" style="float:left;">
        <div class="titlBar" id='title_text' style="padding-bottom:15px;">
            <h4><b>事件摘要</b></h4>
            <i id="abstract_tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="事件总体概述"></i>&nbsp;&nbsp;
        </div>
        <div class="tabUnit">
            <div class="tabTitle" style="padding-top:1px;"></div>
            <div class="tabConts">
                <div style="width:1033px; height:100px">
                    <div id="keywords_text">
                        <p style="padding-top:25px; text-indent:2em;"><该事件发生于
                            <b style="background:#ACD6FF;">2013-9-2</b>
                            ，事件发生地点为<b style="background:#ACD6FF;">广西南宁</b>。
                            该事件的舆情信息起始于 <b style="background:#ACD6FF;">2013-9-2</b>
                            ，终止于<b style="background:#ACD6FF;">2013-9-7</b>
                            ，共3000人参与信息发布与传播，舆情信息累计200条.
                            参与人群集中于<b style="background:#ACD6FF;">北京，上海，广州，广西，山东，浙江，江苏， 河南， 湖北， 湖南</b>。
                            前<b style="background:#ACD6FF  ">10</b>个关键词是：东盟，总理，高科技，中国，博览会，力量，李克强，国际，十年，合作。
                            网民情绪分布情况为：积极：60%，愤怒：23%，悲伤：17%。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="blkUnit grpUnit" id="trendProfile">
        <div class="titlBar" style="padding-bottom:25px;">
            <h4>主题河</h4>
            <i id="eventriver_tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="主题河：可视化事件中子话题的热度分布"></i>&nbsp;&nbsp;
        </div>

       <!--  <div class="tabUnit">
            <div class="tabTitle" style="padding-top:1px;background-color:#f6f6f6;" id="auto_gsid_3">
            </div>
            <div class="tabConts">
                <div id="event_river"style="height:500px;width:1033px"></div>
                <div id="mytimeline"></div>
            </div>
        </div> -->
    </div>

    <div class="blkUnit grpUnit" id="trendfishbone">
        <div class="titlBar" style="padding-bottom:25px;">
            <h4>鱼骨图</h4>
            <i id="timeline_tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="鱼骨图：可视化事件中子话题的代表性文本"></i>&nbsp;&nbsp;
        </div>
        <div id="page">
            <ol id="timeline1"></ol>
        </div>
    </div>
{% endblock content %}

{% block tail_js %}
    <script>
        $("#label_tooltip").tooltip();
        $("#eventriver_tooltip").tooltip();
        $("#timeline_tooltip").tooltip();
    </script>
    <script src="/static/css/js/jquery.b1njTimeline.js" type="text/javascript"></script>
    <script src="/static/css/js/keywords_pie.js" type="text/javascript"></script>
{% endblock tail_js %}
