{% extends 'info_consume/daohang_public.html' %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap-table.min.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/buttonstyle.css">
  <link href="/static/info_consume/css/dashboard.css" rel="stylesheet">

{% endblock %}

{% block head_js %}
  <script type="text/javascript" src='/static/info_consume/js/jquery.js'></script>
  <script type="text/javascript" src='/static/info_consume/js/jquery.min.js'></script>
  <script src="/static/info_consume/js/echarts.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/echarts-all.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/sliders.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <style type="text/css">
  	.fixed-table-body
  	 {
	    overflow-x: auto;
	    overflow-y: auto;
	    height: 395px;
	 }
  </style>

{% endblock %}

{% block part_name %}我的好友{% endblock %}


{% block main %}
<div class='up_box'  style="border:1px #F2F4F8 solid;width:80%;">
	<img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" width="150px" height="150px" style="margin:auto; float:left;margin-top:-50px;" title="1314608344" >
	<span style="font-size:18px;margin-top:0px;margin-left:30px;float:left;">Hi，</span> 
      <sapn id="username" style="font-size:18px;margin-top:0px;float:left;">  </sapn>
      <span style="font-size:18px;margin-top:0px;float:left;">,&nbsp
           <script>
           　　var enabled = 0; today = new Date();
           　　var day;   
               var date;
           　　day = new Date()
           　　hr = day.getHours()
           　　if (hr ==1)
           　　document.write("凌晨一点已过，别忘了休息喔！")
           　　if (hr ==2)
           　　document.write("该休息了，身体可是革命的本钱啊！")
           　　if (hr ==3)
           　　document.write("夜深人静，只有你敲击鼠标的声音...")
           　　if (hr ==4)
           　　document.write("四点过了，你明天不上班？？？")
           　　if (hr ==5)
           　　document.write("该去晨运了！！！")
           　　if (hr ==6)
           　　document.write("你知道吗，此时是国内网络速度最快的时候！")
           　　if (hr ==7)
           　　document.write("新的一天又开始了，祝你过得快乐！")
           　　if ((hr ==8) || (hr == 9) || (hr ==10))
           　　document.write("上午好！今天你看上去好精神哦！")
           　　if (hr ==11)
           　　document.write("十一点过了，快下班了吧？")
           　　if (hr ==12)
           　　document.write("十二点过了，还不下班？")
           　　if ((hr==13) || (hr==14))
           　　document.write("你不睡午觉？")
           　　if ((hr==15) || (hr==16) || (hr==17))
           　　document.write("下午好！困了就喝杯咖啡吧~")
           　　if ((hr==18) || (hr==19))
           　　document.write("吃晚饭了吧？")
           　　if ((hr==20) || (hr==21) || (hr==22))
           　　document.write("今晚又在这玩电脑了，没节目？")
           　　if (hr==23)
           　　document.write("真是越玩越精神，不打算睡了？")
           　　if (hr==0)
           　　document.write("凌晨了，还不睡？")           　
          </script>
       </span>  
</div>

<!--我的好友-->
<div>
    <ul id="zone_tab" class="nav nav-tabs" style="margin-top: 90px;">
      <li style="margin-left:50px;"><a href="/index/myzone" >我的信息</a></li>
      <li id="zone_left_tab" class="active" style="margin-left:0px;">
          <a href="#mysteward" data-toggle="tab">我的好友</a>
      </li>
    </ul>

     <div id="myfriends" >
   <!--好友排行-->
        <div class="panel panel-success" style="width:45%;height:500px;margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">好友排行</h3>
        </div>
        <div class="panel-body">
          <table  data-toggle="table" class="warning" >
            <thead >
              <tr>
                <th>好友ID</th>
                <th >好友昵称</th>
                <th >好友数</th>
                <th >粉丝数</th>
                <th >微博数</th>
                <th id="influence">影响力</th>
              </tr>
            </thead>
            <tbody id="friend_rank"> 
              <tr class="no-records-found">
                <td colspan="6">正在很努力很努力的加载内容...</td>
              </tr>             
              </tbody>
          </table>
          <div>
            
            <button style="float:left;margin-left:83%;margin-top:5px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">查看更多</button>
          </div>
        </div>
      </div>
  </div>
  <!--好友排行模态框-->

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" 
                 aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
                             查看好友排行的详细信息
          </h4>
         </div>


          <div class="modal-body">
            <table  data-toggle="table" class="warning" >
            <thead >
              <tr>
                <th>好友ID</th>
                <th >好友昵称</th>
                <th >好友数</th>
                <th >粉丝数</th>
                <th >微博数</th>
                <th id="influence">影响力</th>
              </tr>
            </thead>
            <tbody id="friend_rank_detail"> 
              <tr class="no-records-found">
                <td colspan="6">正在很努力很努力的加载内容...</td>
              </tr>             
              </tbody>
          </table>                           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!-- <button type="button" class="btn btn-primary" >确定</button> -->
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->


  <!--亲密度排行模态框-->

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" 
                 aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
                             更多亲密好友的详细信息
          </h4>
         </div>

          <div class="modal-body">
            <table  data-toggle="table" class="warning" >
            <thead >
              <tr>
                <th>好友ID</th>
                <th >好友昵称</th>
                <th >好友数</th>
                <th >粉丝数</th>
                <th >微博数</th>
                <th >提及数</th>
              </tr>
            </thead>
            <tbody id="intimacy_rank_detail"> 
              <tr class="no-records-found">
                <td colspan="6">正在很努力很努力的加载内容...</td>
              </tr>             
              </tbody>
          </table>                                         
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!-- <button type="button" class="btn btn-primary" >确定</button> -->
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
            
      
      <!--亲密度排行-->
        <div class="panel panel-success" style="width:35%;height:500px;margin-left:5%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">亲密度排行</h3>
        </div>
        <div class="panel-body">
          <table  data-toggle="table" class="warning" >
            <thead >
              <tr>
                <th>好友ID</th>
                <th >好友昵称</th>
                <th >好友数</th>
                <th >粉丝数</th>
                <th >微博数</th>
                <th >提及数</th>
              </tr>
            </thead>
            <tbody id="intimacy_rank"> 
              <tr class="no-records-found">
                <td colspan="6">正在很努力很努力的加载内容...</td>
              </tr>             
              </tbody>
          </table>
          <div>
            
            <button style="float:left;margin-left:83%;margin-top:5px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">查看更多</button>
          </div>
           
        </div>
      </div>


       <!--社交网络-->
        <div class="panel panel-success" style="width:76%;height:700px;margin-top:2%; margin-left:11.6%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">社交网络</h3>
        </div>
        <div class="panel-body">
          <div class="panel-body">

            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#transmit" data-toggle="tab" style=" text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">你的微博被谁转发</a></li>
              <li><a href="#mention" data-toggle="tab" style=" text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">你转发了谁的微博</a></li>
              <li><a href="#comment" data-toggle="tab" style=" text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">你评论了谁</a></li>
              <li><a href="#interaction" data-toggle="tab" style=" text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">谁评论了你</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="transmit" style="height:550px;width:900px;">
              <!--被转发关系图-->

                <div id="p_so_onload" >
                   <center>
                   小的正在努力的为老大您加载内容，请稍后...
                   </center>
                </div>
                
              

              </div>

              <div class="tab-pane fade" id="mention" style="height:550px;width:900px;">
                 <!--转发关系图-->
                <div id="p_so_onload" >
                   <center>
                   小的正在努力的为老大您加载内容，请稍后...
                   </center>
                </div>

              </div>

              <div class="tab-pane fade" id="comment" style="height:550px;width:900px;">
              <!--评论关系图-->
                  <div id="p_so_onload" >
                   <center>
                   小的正在努力的为老大您加载内容，请稍后...
                   </center>
                  </div>

              </div>

              <div class="tab-pane fade" id="interaction" style="height:550px;width:900px;">
              <!--被评论关系图-->
                  <div id="p_so_onload" >
                   <center>
                   小的正在努力的为老大您加载内容，请稍后...
                   </center>
                  </div>

              </div>
                        
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



</div>


<script src="/static/info_consume/js/bootstrap-table.js"></script>
<script src="/static/info_consume/js/bootstrap-table-zh-CN.min.js"></script>
{% endblock %}
{% block Own_js %}
<script type="text/javascript" src="/static/info_consume/js/my_friend.js"></script>
<!-- <script type="text/javascript" src="/static/info_consume/js/preference.js"></script> -->

{% endblock %}