{% extends 'info_consume/daohang_public.html' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap-table.min.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/buttonstyle.css">
  <link href="/static/info_consume/css/dashboard.css" rel="stylesheet">

{% endblock %}

{% block head_js %}
  <script type="text/javascript" src='/static/info_consume/js/jquery.js'></script>
  <script type="text/javascript" src='/static/info_consume/js/jquery.min.js'></script>
  <script src="/static/info_consume/js/echarts.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/echarts-all.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/sliders.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  

{% endblock %}


{% block main %}
<div class='up_box'  style="border:1px #F2F4F8 solid;width:80%;">
	<img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" width="150px" height="150px" style="margin:auto; float:left" title="1314608344" >
	<span style="font-size:18px;margin-top:30px;margin-left:30px;float:left;">Hi，</span> 
      <sapn id="username" style="font-size:18px;margin-top:30px;float:left;">  </sapn>
      <span style="font-size:18px;margin-top:30px;float:left;">,&nbsp
           <script>
           　　var enabled = 0; today = new Date();
           　　var day;   
               var date;
           　　day = new Date()
           　　hr = day.getHours()
           　　if (hr ==1)
           　　document.write("凌晨一点已过，别忘了休息喔！")
           　　if (hr ==2)
           　　document.write("该休息了，身体可是革命的本钱啊！")
           　　if (hr ==3)
           　　document.write("夜深人静，只有你敲击鼠标的声音...")
           　　if (hr ==4)
           　　document.write("四点过了，你明天不上班？？？")
           　　if (hr ==5)
           　　document.write("该去晨运了！！！")
           　　if (hr ==6)
           　　document.write("你知道吗，此时是国内网络速度最快的时候！")
           　　if (hr ==7)
           　　document.write("新的一天又开始了，祝你过得快乐！")
           　　if ((hr ==8) || (hr == 9) || (hr ==10))
           　　document.write("上午好！今天你看上去好精神哦！")
           　　if (hr ==11)
           　　document.write("十一点过了，快下班了吧？")
           　　if (hr ==12)
           　　document.write("十二点过了，还不下班？")
           　　if ((hr==13) || (hr==14))
           　　document.write("你不睡午觉？")
           　　if ((hr==15) || (hr==16) || (hr==17))
           　　document.write("下午好！困了就喝杯咖啡吧~")
           　　if ((hr==18) || (hr==19))
           　　document.write("吃晚饭了吧？")
           　　if ((hr==20) || (hr==21) || (hr==22))
           　　document.write("今晚又在这玩电脑了，没节目？")
           　　if (hr==23)
           　　document.write("真是越玩越精神，不打算睡了？")
           　　if (hr==0)
           　　document.write("凌晨了，还不睡？")           　
          </script>
       </span>  
</div>



<ul id="zone_tab" class="nav nav-tabs">
   <li id="zone_left_tab" class="active">
      <a href="#mysteward" data-toggle="tab">我的管家</a>
	</li>
   <li><a href="#myfriends" data-toggle="tab">我的好友</a></li>
</ul>

<div id="myTabContent" class="tab-content"><!--我的管家页面-->
  <!--我的管家-->
  <!--我的发帖-->
    <div class="tab-pane fade in active" id="mysteward" style="margin-left:150px;margin-right:150px;">
    	<div class="panel panel-success" style="width:45%;height:500px;margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
			<div class="panel-heading">
				<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的发帖</h3>
			</div>
			<div class="panel-body">
				<ul id="myTab" class="nav nav-tabs">
				   <li class="active">
				      <a href="#zhuanfa" data-toggle="tab">
				         转发最多
				      </a>
				   </li>
				   <li><a href="#tixing" data-toggle="tab">评论最多</a></li>
				   <li><a href="#hudong" data-toggle="tab">点赞最多</a></li>
				   
				</ul>
				<div id="myTabContent" class="tab-content">
				   <div class="tab-pane fade in active" id="zhuanfa" style="margin-left: 1%;margin-right:1%;">
						<div style="float:left;padding:5px;width: 100%;background:whitesmoke;">
						    <p style="margin-left:10px;">1、昵称：<a target="_blank" href="/index/personal/?uid=1863675294">董锤锤</a>(中国	上海	上海)&nbsp;&nbsp;发布内容:<font color="black">博尔特。。。一个跑在最前面还不忘看镜头的人</font></p><p style="float:left;width:100%;margin-top:-5px;margin-left:10px;"><span style="float:right;padding-right: 10px;color:#858585"><span>转发数(5056)&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>评论数(3282)</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>言论敏感度(0)</span></span><span style="float:left"><u>2016-08-15 12:35:08</u> - <a color:#e0e0e0="" target="_blank" href="http://weibo.com/1863675294/E3EJcqnwV">微博</a>-<a target="_blank" href="/index/personal_detail/?uid=1863675294">用户详情</a></span></p>
						</div>

						<div style="float:left;padding:5px;width: 100%;">
						    <p style="margin-left:10px;">
						      			2、昵称：
						    <a target="_blank" href="/index/personal/?uid=1863675294">董锤锤</a>(中国	贵州	贵阳)&nbsp;&nbsp;发布内容:<font color="black">回覆@五截y:感谢科普！不是伤病的话就更好啦 //@五截y:那是有助于减少乳酸缓解肌肉疲劳的.... //@董锤锤:两位老将身上都布满了膏药[泪][泪]</font></p><p style="float:left;width:100%;margin-top:-5px;margin-left:10px;"><span style="float:right;padding-right: 10px;color:#858585"><span>转发数(2546)&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>评论数(141)</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>言论敏感度(0)</span></span><span style="float:left"><u>2016-08-19 21:11:46</u> - <a color:#e0e0e0="" target="_blank" href="http://weibo.com/1863675294/E4jOTaYjt">微博</a>-<a target="_blank" href="/index/personal_detail/?uid=1863675294">用户详情</a></span>
						    </p>
						</div>

				   </div>

				   <div class="tab-pane fade" id="tixing">
					评论
				   </div>

				   <div class="tab-pane fade" id="hudong">
					点赞		
				   </div>
				</div>
			</div>
		</div>
  
	    <!--我最爱说-->
	   		<div class="panel panel-success" style="width:45%;height:500px;margin-left:5%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我最爱说</h3>
				</div>
				<div class="panel-body">
				  <div id="keyword-cloud" class="panel-body" style="width:360px;height:400px;"></div>
				</div>
			</div>

	    <!--我的领域-->
	
	   		<div class="panel panel-success" style="width:95%;height:430px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的领域</h3>
				</div>
				<div class="panel-body">
					<div class="left_chart" style="width:50%;heigth:100%;float:left;">

					  <div id="p_so_onload1"><center>正在努力为您加载，请稍后...</center></div>
					  <div class="panel-body">
					  		<div id="domain" style="height:350px;margin-top:3px;">
					  			<!--雷达图区域-->
					  		</div>
					  </div>
					</div>
					<div class="right_chart" style="width:50%;float:left;">
						<p style="color:#808080;font-size:18px;margin-top:10px;margin-left:20px;">根据你的表现，封你为：</p>
						<img src="/static/info_consume/image/crown.png" width="60px" style="float:left;margin-top:25px;margin-left:50px;z-index:10px;">	
						<span id="topdomain" style="float:left;font-family:'zzgf';font-size:40px;color:#f4c600;margin-top: 19px;margin-left: 5px;">
						</span>		
						<p style="float:left;margin-top:30px;margin-left:80px;" >想了解其他更多达人的信息吗？</p>
						<a href="/boot_test" target="_blank" class="large button green" style="margin-top:20px;float:left;margin-left:5px;">点击这里</a></li>
					</div>
				</div>
			</div>


	    <!--我的影响力-->
	   		<div class="panel panel-success" style="width:95%;height:300px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的影响力</h3>
				</div>
				<div class="panel-body">
					<h1>昨日影响力排名：</h1>
					<h1>No.95/1939万</h1>
					<p>你的影响力距红人榜还差:</p><p>39.5分</p>
					<p>快快加油哦~</p>
					<div id="any_influ" style="width:100%;height:50%;">
						<img src="/static/info_consume/image/icon_inf.png" width="50px" height="50px">
						<h3>我的影响力分析</h3> 
						<img src="/static/info_consume/image/qmark.png" width="50px" height="50px">
						<h3>了解如何提升</h3> 
						<hr>
					</div>
					<div class ="framepost" style="height:300px;">
					    <h3 class="title">影响力走势图</h3>
					    <div  class="entry"  >
					      <div style="font-size:16px;z-index:100;float:left;background-color:white;">
					       <input name="choose_module" type="radio" checked value=1>近7天
					       <input style="margin-left:20px;" name="choose_module" type="radio" value=2>近30天
					      </div>
					      <div id="influence_chart" style="float:left;height:230px;width:730px;margin-top:10px;margin-right:10px;"></div>
					    </div>
					</div>
				</div>
			</div>

	    <!--我的足迹-->
	   		<div class="panel panel-success" style="width:95%;height:300px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的足迹</h3>
				</div>
				<div class="panel-body">
					足迹地图
				</div>
			</div>

	    <!--智能情绪管家-->
	   		<div class="panel panel-success" style="width:95%;height:300px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">智能情绪管家</h3>
				</div>
				<div class="panel-body">
					情绪管家
				</div>
			</div>
	</div>
<!--我的好友页面--> <!--我的好友页面-->  <!--我的好友页面--> <!--我的好友页面--> <!--我的好友页面--> 
   <div class="tab-pane fade" id="myfriends" >
   <!--好友排行-->
    		<div class="panel panel-success" style="width:45%;height:500px;margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">好友排行</h3>

				</div>
				<div class="panel-body">
					<table  data-toggle="table" class="warning" >
						<thead >
							<tr>
								<th>好友ID</th>
								<th >好友昵称</th>
								<th >好友数</th>
								<th >粉丝数</th>
								<th >微博数</th>
								<th id="influence">影响力</th>
							</tr>
						</thead>
						<tbody id="friend_rank"> 
							<tr class="no-records-found">
								<td colspan="6">正在很努力很努力的加载内容...</td>
							</tr>							
							</tbody>
					</table>
					<div>
						
						<button style="float:left;margin-left:42%;margin-top:5px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">查看更多</button>
					</div>
				</div>
			</div>
	</div>
	<!--好友排汗模态框-->

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" 
							   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							                  &times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
							               查看好友排行的详细信息
					</h4>
				 </div>


					<div class="modal-body">
							         	
						
								模态框1            
						
														    								 
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" >确定</button>
					</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->


	<!--亲密度排行模态框-->

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" 
							   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							                  &times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
							               更多亲密好友的详细信息
					</h4>
				 </div>

					<div class="modal-body">
							         	
						
							模态框2            
																		    								 
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" >确定</button>
					</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
						
			
	    <!--亲密度排行-->
	   		<div class="panel panel-success" style="width:35%;height:500px;margin-left:5%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">亲密度排行</h3>
				</div>
				<div class="panel-body">
					<table  data-toggle="table" class="warning" >
						<thead >
							<tr>
								<th>好友ID</th>
								<th >好友昵称</th>
								<th >好友数</th>
								<th >粉丝数</th>
								<th >微博数</th>
								<th >提及数</th>
							</tr>
						</thead>
						<tbody id="intimacy_rank"> 
							<tr class="no-records-found">
								<td colspan="6">正在很努力很努力的加载内容...</td>
							</tr>							
							</tbody>
					</table>
					<div>
						
						<button style="float:left;margin-left:42%;margin-top:5px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">查看更多</button>
					</div>
					 
				</div>
			</div>
    	 <!--社交网络-->
	   		<div class="panel panel-success" style="width:95%;height:300px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">社交网络</h3>
				</div>
				<div class="panel-body">
					一张大网
				</div>
			</div>
    </div>
</div>

<script src="/static/info_consume/js/bootstrap-table.js"></script>
 <script src="/static/info_consume/js/bootstrap-table-zh-CN.min.js"></script>

{% endblock %}

  <!--End js-->
{% block Own_js %}
<script type="text/javascript" src="/static/info_consume/js/person_detail.js"></script>
<script type="text/javascript" src="/static/info_consume/js/preference.js"></script>
<!-- <script type="text/javascript" src="/static/info_consume/js/language.js"></script>
 -->
<!-- <script type="text/javascript" src="/static/info_consume/js/influence.js"></script> -->

{% endblock %}



