{% extends 'info_consume/daohang_public.html' %}

{% block part_name %}我的地盘{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/info_consume/css/buttonstyle.css">
  <link href="/static/info_consume/css/dashboard.css" rel="stylesheet">
 <style type="text/css">   
    .border-table {   
        border-collapse: collapse;   
        border: none;   
    }   
    .border-table td {   
        border: solid #FFE4B5 1px;   
    }
    .calculate_state td{
        text-align:left !important;
    }
    .group_block{
    background-color:#77ACF4;width:50px;height: 30px;padding: 5px 8px;color: white;border-radius: 0.25em;margin: 5px;display: inline-block;text-align: center;
    }
    .fixed-table-body
     {
        overflow-x: auto;
        overflow-y: auto;
        height: 400px;
     }
     .table{
      margin-bottom: 2px !important;
/*      border:2px #d6e9c6 solid;*/
      float:left;
      width:40%;
      background:whitesmoke;
      border-radius:15px;
      box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
     }
     .table .thead {
      margin:auto;
     }
     .table>tbody>tr>td {
      padding:4px !important;
      vertical-align: middle !important;
      border-top: 0px !important;
      text-align:center;
     }
     .influ_table_title {
      width:200px;
      height: 35px;
      float: left;
      border-radius:25px;
      font-size: 18px;
      font-weight:bolder;
      color:black; 

     }

</style>

{% endblock %}

{% block head_js %}
  <script type="text/javascript" src='/static/info_consume/js/jquery.js'></script>
  <script type="text/javascript" src='/static/info_consume/js/jquery.min.js'></script>
  <script src="/static/info_consume/js/echarts.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/echarts-all.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/sliders.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/info_consume/js/time_for_test.js"></script>
  <style type="text/css">

    .fixed-table-body{
      overflow-x: auto;
      overflow-y: auto;
      height: 395px;
    }
   #locatSun {
    display: inline-block!important;
    margin-top: 25px!important;
    margin-left: 0!important;
   }
   .dongtai {
    width: 45%;
   }
   @media screen and (min-width: 750px)  and (max-width: 1224px) {
    .lingyu {
      margin-left: 5%!important;
    }
    .dongtai {
      width: 100%;
    }
    .aishuo {
      width: 100%!important;
      margin-left: 2%!important;
    }
    #keyword_cloud {
      margin: 0 auto;
    }
    .dianji {
      margin: 0 0 0 100px!important;

    }
    .yingxiangli {
      width: 1000px!important;

    }
    #locatSun {
      margin-top: -31%!important; 
      margin-left: 80%!important;
    }
    .tisheng {
      margin-top: -20px;
    } 
    #thought_load_admin,#zuji {
      width: 1000px!important;
    }
   }


  </style>
  <script type="text/javascript">
    function person_call_ajax_request(url, callback){
        $.ajax({
            url:url,
            type:"GET",
            dataType:'json',
            // async:true,
            // beforeSend:function(){
            //     $('.soft_con_icon').showLoading();
            // },
            // complete:function(){
            //     $('.soft_con_icon').hideLoading();
            // },
            success:callback,
        });
    } 
  </script>

{% endblock %}


{% block main %}
<div class='up_box'  style="border:1px #fff solid;width:80%;">
  <img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" width="150px" height="150px" style="margin:auto; float:left" title="1314608344" >
  <span style="font-size:18px;margin-top:30px;margin-left:30px;float:left;">Hi，</span> 
      <sapn id="username" style="font-size:18px;margin-top:30px;float:left;">  </sapn>
      <span style="font-size:18px;margin-top:30px;float:left;">,&nbsp
           <script>
           　　var enabled = 0; today = new Date();
           　　var day;   
               var date;
           　　day = new Date()
           　　hr = day.getHours()
           　　if (hr ==1)
           　　document.write("凌晨一点已过，别忘了休息喔！")
           　　if (hr ==2)
           　　document.write("该休息了，身体可是革命的本钱啊！")
           　　if (hr ==3)
           　　document.write("夜深人静，只有你敲击鼠标的声音...")
           　　if (hr ==4)
           　　document.write("四点过了，你明天不上班？？？")
           　　if (hr ==5)
           　　document.write("该去晨运了！！！")
           　　if (hr ==6)
           　　document.write("你知道吗，此时是国内网络速度最快的时候！")
           　　if (hr ==7)
           　　document.write("新的一天又开始了，祝你过得快乐！")
           　　if ((hr ==8) || (hr == 9) || (hr ==10))
           　　document.write("上午好！今天你看上去好精神哦！")
           　　if (hr ==11)
           　　document.write("十一点过了，快下班了吧？")
           　　if (hr ==12)
           　　document.write("十二点过了，还不下班？")
           　　if ((hr==13) || (hr==14))
           　　document.write("你不睡午觉？")
           　　if ((hr==15) || (hr==16) || (hr==17))
           　　document.write("下午好！困了就喝杯咖啡吧~")
           　　if ((hr==18) || (hr==19))
           　　document.write("吃晚饭了吧？")
           　　if ((hr==20) || (hr==21) || (hr==22))
           　　document.write("今晚又在这玩电脑了，没节目？")
           　　if (hr==23)
           　　document.write("真是越玩越精神，不打算睡了？")
           　　if (hr==0)
           　　document.write("凌晨了，还不睡？")           　
          </script>
       </span>  
</div>



<ul id="zone_tab" class="nav nav-tabs" style="border:none;">
   <li id="zone_left_tab" class="active" style="margin-left:50px;">
      <a href="#mysteward" data-toggle="tab">我的信息</a>
  </li>
    <li><a href="/index/my_friend" >我的好友</a></li>
</ul>

<div id="myTabContent" class="tab-content"><!--我的管家页面-->
  <!--我的管家-->
  <!--我的发帖-->
    <div class="tab-pane fade in active" id="mysteward" style="margin-left:150px;margin-right:150px;">
    <!--微博动态-->
        <div class="panel panel-success dongtai" style="margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
          <div class="panel-heading" style="float:left;width: 100%;height:40px;">
            <h3 class="panel-title">最近动态</h3>
          
            <div>
              <ul id="modechoose" style="background-color:transparent;z-index:30;float: left;margin-left: 100px;margin-top:-20px;">
                <label class="demo--label">
                  <li style="float:left;margin-left:5px;background-color:transparent;">
                    <input class="demo--radio" type="radio" name="mode_choose" value="timestamp" checked="checked" >
                    <span class="mode demo--radioInput" style=""></span>最新
                  </li>
                </label>

                <label class="demo--label">
                  <li style="float:left;margin-left:5px;background-color:transparent;">
                    <input class="demo--radio" type="radio" name="mode_choose" value="comment_count">
                    <span class="mode demo--radioInput" style=""></span>评论数
                  </li>
                </label>

                <label class="demo--label">
                  <li style="float:left;margin-left:5px;background-color:transparent;">
                    <input class="demo--radio" type="radio" name="mode_choose" value="retweet_count">
                    <span class="mode demo--radioInput" style=""></span>转发数
                  </li> 
                </label>
              </ul>
            </div>
          </div>
          <div class="panel-body" style="padding: 15px 15px 26px;">
            <div class="tweetinfo" style="float:left;width:100%;background:#fff;margin-left:10px;" >
            <!-- weiboData -->
              <div id="per_onload" style="height:59px;float:left;margin-left: 35%;margin-top:20px;"><center>正在努力加载中...</center></div>
              <div class="tang-scrollpanel-content" style="margin-top:10px;">
               <div id='group_influ_weibo' style=''>
               <div id="group_influ_weibo_result" style=""></div>
                     <div id="pageGro" class="cb" style="display:none;float:left;margin-left:-5px;margin-top:5px;line-height:23px;">
                         <span class="pageUp" style="float:left;">上一页</span>
                         <span class="pageList" style="float:left;">
                             <ul>
                                 <li>1</li>
                                 <li>2</li>
                                 <li>3</li>
                                 <li>4</li>
                                 <li>5</li>
                             </ul>
                         </span>
                         <span class="pageDown" style="margin-left:20px;cursor:pointer;">下一页</span>
                     </div>         
                      </div>
                </div>
                <div id="float-wrap" class="hidden"></div>

            </div>
        </div>    
       </div>
  
      <!--我最爱说-->
      <div class="panel panel-success aishuo" style="width:45%;height:488px;margin-left:5%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我最爱说</h3>
        </div>
        <div class="panel-body">
          <div id="keyword_cloud" class="panel-body" style="width:360px;height:400px;"></div>
        </div>
      </div>

      <!--我的领域-->
  
      <div class="panel panel-success" style="width:95%;height:430px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的领域</h3>
        </div>
        <div class="panel-body">
          <div class="left_chart" style="width:50%;height:100%;float:left;">
            <div id="p_so_onload1"><center>正在努力为您加载，请稍后...</center></div>
            <div class="panel-body">
              <div id="domain" style="height:350px;margin-top:3px;"><!--雷达图区域--></div>
            </div>
          </div>
          <div class="right_chart" style="width:50%;float:left;">
            <p style="color:#808080;font-size:18px;margin-top:10px;margin-left:20px;">根据你的表现，封你为：</p>
            <img src="/static/info_consume/image/crown.png" width="60px" style="float:left;margin-top:25px;margin-left:50px;z-index:10px;"> 
            <span id="topdomain" style="float:left;font-family:'zzgf';font-size:40px;color:#f4c600;margin-top: 19px;margin-left: 5px;"></span>   
            <p style="float:left;margin-top:30px;margin-left:80px;" >想了解其他更多达人的信息吗？</p>
            <a href="/index/boot_test" target="_blank" class="large button green dianji" style="margin-top:20px;float:left;margin-left:5px;">点击这里</a>
          </div>
        </div>
      </div>


     <!--我的影响力-->
     <div class="panel panel-success yingxiangli" style="width:95%;height:1300px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的影响力</h3>
        </div>
        <div class="panel-body">
          <!-- 影响力曲线 -->
          <div id="influ_chart" class ="framepost" style="float:left;">
             <img src="/static/info_consume/image/icon_trend.png" width="30px" height="30px" style="float:left;">
             <span class="title" style="float:left;font-size:20px;font-weight:900;color:#6ea835;margin-left:2px;" >影响力走势图</span> 
              <div  class="entry">
                <div id="mychoice" style="width:50%;font-size:16px;background-color:white;margin-top:40px;margin-left: 30px;z-index:80;position:relative;">
                  <span style="float:left;">时间范围：</span>
                    <label class="demo--label">
                      <li style="float:left;margin-left:5px;background-color:transparent;z-index:150;">
                        <input class="demo--radio" type="radio" name="choose_module" value=1 checked="checked" >
                        <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>近7天
                      </li>
                    </label>

                    <label class="demo--label">
                      <li style="float:left;margin-left:5px;background-color:transparent;z-index:150;">
                        <input class="demo--radio" type="radio" name="choose_module" value=2>
                        <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>近30天
                      </li>
                    </label>

                </div>
                <div id="influence_chart" style="float:left;height:230px;width:730px;margin-top:-5%;margin-left:10%;"></div>
              </div>
          </div>

          <!-- 影响力排序表格 -->
          <div style="width:100%;margin-top:270px;">
            <div style="height:40px;"><!-- 名字 -->
              <img src="/static/info_consume/image/icon_influ_rank.png" width="30px" height="30px" style="float:left;">
              <span class="title" style="float:left;font-size:20px;font-weight:900;color:#6ea835;margin-left:2px;" >影响力排行榜</span>
            </div>
            <div style="height:40px;width:100%;">
              <div class="influ_table_title" style="margin-left:170px;">全网用户排行</div>
              <div class="influ_table_title lingyu" style="margin-left:25%;"><span id="domainSort"></span>领域排行</div>
            </div>  
            <!-- 领域排名-全网 -->
            <div style="float:none;"> 
              <table border="0" id="influ_all" class="table" style="margin-left:40px;"></table>
              <table id="influ_domain" class="table" style="position:relative;margin-left:5%;"></table>
            </div>  
          </div>

          <!-- 影响力技能描述 -->
          <div style="width:100%;margin-top:480px;">
            <div style="height:40px;"><!-- 名字 -->
              <img src="/static/info_consume/image/icon_influ_skill.png" width="30px" height="30px" style="float:left;">
              <span class="title" style="float:left;font-size:20px;font-weight:900;color:#6ea835;margin-left:2px;" >我的影响力技能</span></div>
            <img src="/static/info_consume/image/stage.png" width="700px" style="margin-left:70px;display:inline-block;">
            <img id='locatSun' src="/static/info_consume/image/sun.png" width="50px" height="50px" style="z-index:30;">
            <div class="tisheng" style="font-size:16px;margin-left:120px;">
              要点亮更多技能，你的这些方面还需要提升
              <span id="badPart" style="font-weight:bolder;color:#f4c600;font-size:18px !important;"></span>
            </div>
            
          </div>

        </div>
      </div>

      <!--我的足迹-->
        <div id="zuji" class="panel panel-success" style="width:95%;height:600px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">我的足迹</h3>
        </div>
        <div class="panel-body">

          <div id="mychoice_geo" style="width:50%;font-size:16px;background-color:white;margin-left:15px;position:relative;">
           <span style="float:left;">选择时间：</span>
             <label class="demo--label">
               <li style="float:left;margin-left:5px;background-color:transparent;">
                 <input class="demo--radio" type="radio" name="choose_module_geo" value=1 checked="checked">
                 <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>近30天
               </li>
             </label>
             <label class="demo--label">
               <li style="float:left;margin-left:5px;background-color:transparent;">
                 <input class="demo--radio" type="radio" name="choose_module_geo" value=2>
                 <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>近7天
               </li>
             </label>
             <label class="demo--label">
               <li style="float:left;margin-left:5px;background-color:transparent;">
                 <input class="demo--radio" type="radio" name="choose_module_geo" value=3>
                 <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>今天
               </li>
             </label>
          </div>

          <div id="act_map" style="width:100%;height:460px;">  </div>
          <span id="des_loc" style="margin-left:100px;float:left;font-size:17px;font-weight:bolder;display:none;"></span>
        </div>
      </div>

      <!--智能情绪管家-->
     <div class="panel panel-success" style="width:95%;height:600px;margin-top:2%; margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);" id="thought_load_admin">
        <div class="panel-heading" onload="thought_load()">
          <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">智能情绪管家</h3>
        </div>
        <div class="panel-body">
          <img src="/static/info_consume/image/icon_mood.png" width="30px" height="30px" style="float:left;">
          <span class="title" style="float:left;font-size:20px;font-weight:900;color:#6ea835;margin-left:2px;" >情绪变动曲线</span> 

          <div id="framecontent" style="width:850px;">
              <div class ="framepost" style="height:500px">
                  <div  class="entry" style="float:left;width: 1100px;">
                    <div style="width:480px;height:470px;float:left;">
                        <div style="width:40%;font-size:16px;background-color:white;margin-top:10px;margin-left: 30px;position:relative;">

                        <label class="demo--label">
                          <li style="float:left;margin-left:5px;background-color:transparent;">
                           <input class="demo--radio" type="radio" name="time-type" value='day' onclick="choose_time()" style="width:15px;height:15px;" checked >
                           <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>当日
                             </li>
                           </label>

                           <label class="demo--label">
                             <li style="float:left;margin-left:5px;background-color:transparent;">

                           <input class="demo--radio"  type="radio" name="time-type" value='week' onclick="choose_time()" style="width:15px;height:15px;margin-left:8px;">
                           <span class="mode demo--radioInput" style="font-weight:normal !important;"></span>近7天
                             </li>
                          </label>
                        </div>
                        <span style="float: left;font-size: 12px;width: 140px;margin-left: 240px;margin-top: -30px;z-index:30;">点击下图查看对应微博</span>
                        <div id="emotion_onload" style="width:100%"><center>正在加载，请稍候...</center></div>
                        <div style="width:510px;height:420px;margin-left: 50px;" id="emotion"></div>
                    </div>
                    <div id='select_time' style="font-weight:bold;margin:0px;margin-left:20px;font-size:12px;float:left;"></div>

                    <div style="width:380px;height:350px;background-color:whitesmoke;margin-left: -80px;overflow-y:auto;margin-top:100px;float:left" id="content">
                        <div id="emotion_loading" style="width:100%;display:none;"><center>正在加载，请稍候...</center></div>
                        <div id="thought_weibo_text" style="padding:0px 10px;">
                        </div>
                    </div>
                  </div>
              </div>
          </div>


        </div>
     </div>


    </div>
</div>




 

<script src="/static/info_consume/js/bootstrap-table.js"></script>
<script src="/static/info_consume/js/bootstrap-table-zh-CN.min.js"></script>

{% endblock %}

  <!--End js-->
{% block Own_js %}
<script type="text/javascript" src="/static/info_consume/js/person_detail_show.js"></script>
<script type="text/javascript" src="/static/info_consume/js/language.js"></script> 
<script type="text/javascript" src="/static/info_consume/js/preference.js"></script>
<script type="text/javascript" src="/static/info_consume/js/influence.js"></script>
<script type="text/javascript" src="/static/info_consume/js/geo.js"></script>
<script type="text/javascript" src="/static/info_consume/js/map.js"></script>
<script type="text/javascript" src="/static/info_consume/js/thought.js"></script>
<script src="../../static/info_consume/js/echarts-map.js"></script>

<script type="text/javascript">//微博展示
function homepageinfo() {
  this.ajax_method = 'GET';
}
homepageinfo.prototype = {
  call_sync_ajax_request:function(url,method,callback) {
    $.ajax({
    url: url,
    type: method,
    dataType:'json',
    async:true,
    success:callback
  });
  },
   // 微博数据
   weiboData:function(data){
     weiboData = data;
     var testtext ="hello";
     console.log(testtext);
    DrawWeibo(data,'group_influ_weibo', 'group_influ_weibo_result');
       $('#per_onload').css('display','none');
       $('#group_influ_weibo').css('display', 'block');
   }
}
var Personal = new homepageinfo();
var weiboData;
var uid = 1640601392;

$(function(){
  $('#modechoose').click(function(){
  var box = document.getElementsByName('mode_choose');
  //console.log(box);
  for(var i=0;i<box.length;i++){
    if(box[i].checked){
      sort_type = box[i].value;
    }
    }
$('#per_onload').css('display', 'block');
$('#group_influ_weibo').css('display', 'none')
  var url = "/attribute/new_user_weibo/?uid="+uid+"&sort_type="+sort_type;
  console.log('ddd',url);
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.weiboData);
  console.log(weiboData);
  });
});


var url = "/attribute/new_user_weibo/?uid="+uid+"&sort_type=timestamp";
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.weiboData);
console.log("运行微博数据");
function DrawWeibo(data, div_name, sub_div_name){
    page_num = 5;
    if (data.length < page_num) {
        console.log('data_length', data.length);
        $('#'+ div_name + ' #pageGro .pageUp').css('display', 'none');
        $('#'+ div_name + ' #pageGro .pageList').css('display', 'none'); 
        $('#'+ div_name + ' #pageGro .pageDown').css('display', 'none'); 
        if (data.length == 0) {
            $('#' + sub_div_name).empty();
            $('#' + sub_div_name).append('暂无数据');
            $('#' + sub_div_name).css('height','300px');
        }else{
            $('#'+ div_name + ' #pageGro').css('display', 'block');
            page_num = data.length
            page_group_influ_weibo( 0, page_num, data, sub_div_name);
        }
    }else {
          $('#'+ div_name + ' #pageGro').css('display', 'block');
          page_group_influ_weibo( 0, page_num, data, sub_div_name);
          var total_pages = 0;
          if (data.length % page_num == 0) {
              total_pages = data.length / page_num;
          }
          else {
              total_pages = Math.round(data.length / page_num) + 1;
          }
        }
    var pageCount = total_pages;
    
    if(pageCount>5){
        page_icon(1,5,0, div_name);
    }else{
        page_icon(1,pageCount,0, div_name);
    }
    
    $("#"+div_name+" #pageGro").on("click","li", function(){
        if(pageCount > 5){
            var pageNum = parseInt($(this).html());
            pageGroup(pageNum,pageCount);
        }else{
            $(this).addClass("on");
            $(this).siblings("li").removeClass("on");
        }
      page = parseInt($("#"+div_name+" #pageGro li.on").html())  
      //console.log('page', page);         
      start_row = (page - 1)* page_num;
      end_row = start_row + page_num;
      if (end_row > data.length)
          end_row = data.length;
        // console.log('start', start_row);
        // console.log('end', end_row);
        // console.log('data',data);
        page_group_influ_weibo(start_row,end_row,data, sub_div_name);
    });

    $("#"+div_name+" #pageGro .pageUp").off('click').click(function(){
        if(pageCount > 5){
            var pageNum = parseInt($("#"+div_name+" #pageGro li.on").html());
            pageUp(pageNum,pageCount);
        }else{
            var index = $("#"+div_name+" #pageGro ul li.on").index();
            if(index > 0){
                $("#"+div_name+" #pageGro li").removeClass("on");
                $("#"+div_name+" #pageGro ul li").eq(index-1).addClass("on");
            }
        }
      page = parseInt($("#"+div_name+" #pageGro li.on").html())  
      //console.log(page);
      start_row = (page-1)* page_num;
      end_row = start_row + page_num;
      if (end_row > data.length){
          end_row = data.length;
      }
        page_group_influ_weibo(start_row,end_row,data, sub_div_name);
    });
  
  $("#" + div_name + " #pageGro .pageDown").off('click').click(function(){
        if(pageCount > 5){
            var pageNum = parseInt($("#"+div_name+" #pageGro li.on").html());
            pageDown(pageNum,pageCount);
        }else{
            var index = $("#"+div_name+" #pageGro ul li.on").index();
            if(index+1 < pageCount){
                $("#"+div_name+" #pageGro li").removeClass("on");
                $("#"+div_name+" #pageGro ul li").eq(index+1).addClass("on");
            }
        }
      page = parseInt($("#"+div_name+" #pageGro li.on").html()) 
      //console.log(page);
      start_row = (page-1)* page_num;
      end_row = start_row + page_num;
      if (end_row > data.length){
          end_row = data.length;
      }
        page_group_influ_weibo(start_row,end_row,data, sub_div_name);
    });

}

function pageGroup(pageNum,pageCount){
  switch(pageNum){
    case 1:
      page_icon(1,5,0);
    break;
    case 2:
      page_icon(1,5,1);
    break;
    case pageCount-1:
      page_icon(pageCount-4,pageCount,3);
    break;
    case pageCount:
      page_icon(pageCount-4,pageCount,4);
    break;
    default:
      page_icon(pageNum-2,pageNum+2,2);
    break;
  }
}

function pageUp(pageNum,pageCount){
  switch(pageNum){
    case 1:
    break;
    case 2:
      page_icon(1,5,0);
    break;
    case pageCount-1:
      page_icon(pageCount-4,pageCount,2);
    break;
    case pageCount:
      page_icon(pageCount-4,pageCount,3);
    break;
    default:
      page_icon(pageNum-2,pageNum+2,1);
    break;
  }
}


function pageDown(pageNum,pageCount){
  switch(pageNum){
    case 1:
      page_icon(1,5,1);
    break;
    case 2:
      page_icon(1,5,2);
    break;
    case pageCount-1:
      page_icon(pageCount-4,pageCount,4);
    break;
    case pageCount:
    break;
    default:
      page_icon(pageNum-2,pageNum+2,3);
    break;
  }
}

function page_icon(page,count,eq){
  var ul_html = "";
  for(var i=page; i<=count; i++){
    ul_html += "<li>"+i+"</li>";
  }
  $("#pageGro ul").html(ul_html);
  $("#pageGro ul li").eq(eq).addClass("on");
}

function page_group_influ_weibo(start_row,end_row,data, sub_div_name){
    weibo_num = end_row - start_row;
    $('#'+ sub_div_name).empty();
    //console.log(data);
    var html = "";
    html += '<div class="group_weibo_font" style="margin-right:5px;margin-top:15px;">';
    for (var i = start_row; i < end_row; i += 1){
        s=(i+1).toString();
    var mid = data[i][0];
    var uid = data[i][1];
    var geo = data[i][4];
    var text = data[i][2];

    var retweet_count = data[i][7];
    var comment_count = data[i][8];
    // var mingan_count = data[i][9];
        //var location = data[i][2];
        var date = data[i][6];
        var tweet_ulr = data[i][10];
        //date = new Date(parseInt(timestamp)*1000).format("yyyy-MM-dd hh:mm:ss");
        if (i%2 ==0){
            html += '<div style="float:left;padding:5px;width: 100%;background:whitesmoke;">';
    }
        else{
            html += '<div style="float:left;padding:5px;width: 100%;">';
    }
    if(geo==null){
        geo='未知';
    }
    if(text.length>50){
      text = text.substr(0,50)+'...';
    }
            html += '<a target="_blank" href="'+tweet_ulr+'"'+ uid + '"><font color=black>' + text + '</font></a>';    
            //html += '<p style="margin-left:10px;">'+s+'、昵称：<a target="_blank" href="/index/personal/?uid=' + uid + '">' + Pname + '</a>&nbsp;&nbsp;发布:<font color=black>' + text + '</font></p>';    
            html += '<p style="float:left;width:100%;margin-top:-5px;margin-left:10px;">';
            html += '<span style="float:left;margin-left: 60%;"><u>'+date+'</u>';
            html += '</p>';
      html += '</div>';
        
    }
    html += '</div>'; 
    $('#'+sub_div_name).append(html);
}


</script>
{% endblock %}



