{% extends 'info_consume/daohang_public.html' %}

{% block part_name %}个性化推荐{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/info_consume/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/info_consume/css/buttonstyle.css">
    <link href="/static/info_consume/css/dashboard.css" rel="stylesheet">
    <style type="text/css">
        .border-table {
            border-collapse: collapse;
            border: none;
        }

        .border-table td {
            border: solid #FFE4B5 1px;
        }

        .calculate_state td {
            text-align: left !important;
        }

        .group_block {
            background-color: #77ACF4;
            width: 50px;
            height: 30px;
            padding: 5px 8px;
            color: white;
            border-radius: 0.25em;
            margin: 5px;
            display: inline-block;
            text-align: center;
        }

        .fixed-table-body {
            overflow-x: auto;
            overflow-y: auto;
            height: 400px;
        }

        .table {
            margin-bottom: 2px !important;
            /*      border:2px #d6e9c6 solid;*/
            float: left;
            width: 40%;
            background: whitesmoke;
            border-radius: 15px;
            box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
        }

        .table .thead {
            margin: auto;
        }

        .table > tbody > tr > td {
            padding: 4px !important;
            vertical-align: middle !important;
            border-top: 0px !important;
            align: center;
        }

        .influ_table_title {
            width: 200px;
            height: 35px;
            float: left;
            border-radius: 25px;
            font-size: 18px;
            font-weight: bolder;
            color: black;

        }

    </style>

{% endblock %}

{% block head_js %}
    <script type="text/javascript" src='/static/info_consume/js/jquery.js'></script>
    <script type="text/javascript" src='/static/info_consume/js/jquery.min.js'></script>
    <script src="/static/info_consume/js/echarts.js"></script>
    <script type="text/javascript" src="/static/info_consume/js/echarts-all.js"></script>
    <script type="text/javascript" src="/static/info_consume/js/sliders.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/info_consume/js/time_for_test.js"></script>
    <style type="text/css">

        .fixed-table-body {
            overflow-x: auto;
            overflow-y: auto;
            height: 395px;
        }
    </style>
    <script type="text/javascript">
        function person_call_ajax_request(url, callback) {
            $.ajax({
                url: url,
                type: "GET",
                dataType: 'json',
                // async:true,
                // beforeSend:function(){
                //     $('.soft_con_icon').showLoading();
                // },
                // complete:function(){
                //     $('.soft_con_icon').hideLoading();
                // },
                success: callback,
            });
        }
    </script>
{% endblock %}

{% block main %}
    <!--感兴趣的广告-->
    <div class="panel panel-success"
         style="width:60%;height:500px;margin-left:20%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">感兴趣的广告</h3>
        </div>

        <div class="panel-body">
            <div class="tweetinfo" style="float:left;width:100%;background:#fff;margin-left:10px;">
                <div id="per_onload" style="height:59px;float:left;margin-left: 35%;margin-top:20px;">
                    <center>正在努力加载中...</center>
                </div>
                <div class="tang-scrollpanel-content" style="margin-top:10px;">
                    <div id='ads_recommendation'
                         style="overflow-x: hidden; width: 90%; float:left; margin-left:5%; display: block;">
                        <div id="ads_recommendation_result" style="float:left;width:100%;"></div>
                        <div id="pageGro" class="cb"
                             style="display:none;float:left;width:100%;margin-left:-5px;margin-top:5px;line-height:23px;">
                            <span class="pageUp" style="float:left;">上一页</span>
                            <span class="pageList" style="float:left;">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </span>
                            <span class="pageDown" style="margin-left:20px;cursor:pointer;">下一页</span>
                        </div>
                    </div>
                </div>
                <div id="float-wrap" class="hidden"></div>
            </div>
        </div>
    </div>

    <!--最近交互-->
    <div class="panel panel-success boxshadow" id="his_vis">
        <div class="panel-heading">
            <ul id="myTab" class="nav nav-tabs panel-title">
                <li class="active">
                    <a href="#tweeted_out" data-toggle="tab">谁关注我</a>
                </li>
                <li><a href="#retweet_out" data-toggle="tab">我关注谁</a></li>
            </ul>
        </div>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="tweeted_out">
                <div id="p_so_onload">
                    <center>正在努力加载，请稍后...</center>
                </div>
                <span id="tweeted_out" style="margin-left:0px;float:left;width:110px;"></span>
            </div>

            <div class="tab-pane fade" id="retweet_out">
                <div id="p_so_onload">
                    <center>正在努力加载，请稍后...</center>
                </div>
                <span id="retweet_out" style=" margin-left:0px;float:left;width:110px;"></span>
            </div>
        </div>

    </div>
{% endblock %}


{% block Own_js %}
    <script type="text/javascript" src="/static/info_consume/js/adsRec.js"></script> <!--套用微博展示的js-->
    <script type="text/javascript" src="/static/info_consume/js/personRec.js"></script> <!--展示-->
{% endblock %}

