<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}微世界{% endblock %}</title>   
	<style type="text/css">
	body { font-family:"Microsoft Yahei";background-color: #F2F4F8;}	
	</style>

	<!-- end head 标签 -->

	<!-- 布局CSS -->

	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
<!-- end css -->


<!-- 引入js -->
	<script type="text/javascript" src='/static/info_consume/js/jquery.js'></script>
	<script src="/static/info_consume/js/echarts.js"></script>
	<script type="text/javascript" src="/static/info_consume/js/echarts-all.js"></script>
	<script type="text/javascript" src="/static/info_consume/js/sliders.js"></script>
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

 <!-- end js -->
</head> 

<body>
	 <div class="topnav">	 
  	 <img src="../../static/info_consume/image/title.png">		
  		<ul id="menu" style="margin-left:45%">
  			<li><a href="" style="margin-top: 15px;font-size: 20px;width: 100px;">我的管家</a>
  				<ul style="margin-left:0px;">
  					<li><a href="">微博统计</a></li>
  					<li><a href="">性格感知</a></li>
  					<li><a href="">我的好友</a></li>
  				</ul>
  			</li> 				  
  			<li><a href="" style="margin-top: 15px;font-size: 20px;width: 100px;">用户分析</a>
          <ul style="margin-left:0px;">
            <li><a href="">用户发现</a></li>
            <li><a href="">管理群组</a></li>
            
          </ul>

        </li>
  			<li><a href="/index/weiborecommand.html" style="margin-top: 15px;font-size: 20px;">微博那些事</a></li>
  			<li><a href="" style="margin-top: 15px;font-size: 20px;width: 100px;">商业推荐</a></li>
  		</ul>
  </div>


	
		<div class="personhead" style="margin-left:25%;margin-top: 5%;"> <!-- 页面上半部分开始处-->
			<div class="personinfo" >    
				<!-- <p style="font-size:20px; color:#28c7ab;font-size: 24px;margin-left: 20px; margin-top: 10px;font-weight: bold;">娱乐圈八卦兄</p> -->
				<div class='wel_count' >	

			          <div class="panel panel-success" style="width:280px;height:180px;margin-left: 5px;float:left; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-top:10px;">

							<div class="panel-heading">
								<h3 class="panel-title">基本信息</h3>
							</div>

							<div class="panel-body">

							 	<div style="float:left;">
							 		<img src="/static/info_consume/image/head2.png" style="margin-top:15px;width:80px;height:80px;margin-left:0px;float:left;">
							 	</div>

							 	<table style="margin-left:120px;">
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											是否认证：否
										</td>
											
									</tr>
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											注册地：暂无数据
										</td>
											
									</tr>
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											认证类型：无
										</td>
											
									</tr>
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											个人描述：暂无数据
										</td>											
									</tr>	
								</table>
																	
							<div>	
						</div>
					</div>

						<!--第一行三个图标-->
						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 300px;margin-top: -170px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 4px;">
							<img src="/static/info_consume/image/weibo.png" style="width:60px;height:60px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>微博</p>
								    </td>		
								</tr>
								

							</table>

						</div>

						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 530px;margin-top: -170px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 4px;">
							<img src="/static/info_consume/image/friend.png" style="width:65px;height:65px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>粉丝</p>
								    </td>		
								</tr>
								

							</table>

						</div>

						
						<!--第二行三个图标-->
						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 300px;margin-top: -70px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius: 4px;">
							<img src="/static/info_consume/image/shoucang.png" style="width:65px;height:65px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>收藏</p>
								    </td>		
								</tr>
								

							</table>
						</div>

						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 530px;margin-top: -80px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 4px;">
							<img src="/static/info_consume/image/guanzhu.png" style="width:65px;height:65px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>关注</p>
								    </td>		
								</tr>
								

							</table>

						</div>

				</div>

			</div>
	</div>
</div>

<!--页面上半部分到此-->

	<div class="panel panel-success" style="width:27%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-left: -22%; margin-top: 20px;">
		<div class="panel-heading">
			<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">Ta的领域</h3>
		</div>
		<div class="panel-body">
				

				<div style="width:100%;height:50px;">
				    <img src="/static/info_consume/image/u103.png" style="height:80%;width:10%;float:left;margin-left:10%;margin-top: 12px;">
				    
				    <table style="font-family: 微软雅黑;font-size: 18px;float:left;margin-top: 14px;font-weight:bold">
				    	<tr>
				    		<td style="color: dimgrey;">
				    			TA属于：
				    		</td>
				    		<td style="color: darkorange;"> 
				    			民间组织
				    		</td>
				    	</tr>
				    </table>

				</div>

				<div id="main" style="height:350px;margin-top:3px;">
					<script type="text/javascript">
						var myChart = echarts.init(document.getElementById('main'));
						option = {
					    
					    tooltip : {
					        trigger: 'axis'
					    },
					   
					   
					    calculable : true,
					    polar : [
					        {
					            indicator : [
					                {text : '进攻', max  : 100},
					                {text : '防守', max  : 100},
					                {text : '体能', max  : 100},
					                {text : '速度', max  : 100},
					                {text : '力量', max  : 100},
					                {text : '技巧', max  : 100}
					            ],
					            radius : 130
					        }
					    ],
					    series : [
					        {
					            name: '完全实况球员数据',
					            type: 'radar',
					            itemStyle: {
					                normal: {
					                    areaStyle: {
					                        type: 'default'
					                    }
					                }
					            },
					            data : [
					               
					                {
					                    value : [97, 32, 74, 95, 88, 92],
					                    name : '罗纳尔多'
					                }
					            ]
					        }
					    ]
					};
						myChart.setOption(option);

					</script>
				

				</div>
		</div>
    </div>


	<div>
	

	    <div class="panel panel-success" style="width:27%;height:80%;margin-left:2%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-top:20px;">
			<div class="panel-heading">
				<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">Ta的社交</h3>
			</div>
			<div class="panel-body">
				<ul id="myTab" class="nav nav-tabs">
				   <li class="active">
				      <a href="#zhuanfa" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">
				         最近转发
				      </a>
				   </li>
				   <li><a href="#tixing" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;border-bottom: 1px solid #ddd;">@他的</a></li>
				   <li><a href="#hudong" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;border-bottom: 1px solid #ddd;">最近互动</a></li>
				   
				</ul>
				<div id="myTabContent" class="tab-content">
				   <div class="tab-pane fade in active" id="zhuanfa" style="margin-left: 20%;">
				      	<table style="/*margin-left:10%;*/width:100%;" cellpadding="6"; >
											<tr>
												<th>
													<p>
														头像
													</p>
													
												</th>
													
												<th>
													<p>
														昵称
													</p>
												</th>

												<th>
													<p>
														影响力
													</p>
												</th>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														小灰灰
													</p>
												</td>

												<td>
													<p>
														70
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														小小
													</p>
												</td>

												<td>
													<p>
														60
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														情愿
													</p>
												</td>

												<td>
													<p>
														55
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														心心
													</p>
												</td>

												<td>
													<p>
														50
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														美美
													</p>
												</td>

												<td>
													<p>
														40
													</p>
												</td>
										</tr>

									</table>
								
				   </div>

				   <div class="tab-pane fade" id="tixing">
				      	<table style="margin-left:15%;width:100%;" cellpadding="6"; >
											<tr>
												<th>
													<p>
														头像
													</p>
													
												</th>
													
												<th>
													<p>
														昵称
													</p>
												</th>

												<th>
													<p>
														影响力
													</p>
												</th>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														小灰灰
													</p>
												</td>

												<td>
													<p>
														70
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														小小
													</p>
												</td>

												<td>
													<p>
														60
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														情愿
													</p>
												</td>

												<td>
													<p>
														55
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														心心
													</p>
												</td>

												<td>
													<p>
														50
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														美美
													</p>
												</td>

												<td>
													<p>
														40
													</p>
												</td>
										</tr>

									</table>
				   </div>

				   <div class="tab-pane fade" id="hudong">
					      <table style="margin-left:15%;width:100%;" cellpadding="6"; >
											<tr>
												<th>
													<p>
														头像
													</p>
													
												</th>
													
												<th>
													<p>
														昵称
													</p>
												</th>

												<th>
													<p>
														影响力
													</p>
												</th>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														小灰灰
													</p>
												</td>

												<td>
													<p>
														70
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														小小
													</p>
												</td>

												<td>
													<p>
														60
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														情愿
													</p>
												</td>

												<td>
													<p>
														55
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														心心
													</p>
												</td>

												<td>
													<p>
														50
													</p>
												</td>
										</tr>

										<tr>
												<td>
													<img src="/static/info_consume/image/head.jpg" style="height:50px;width:50px;">
													
												</td>
													
												<td>
													<p>
														美美
													</p>
												</td>

												<td>
													<p>
														40
													</p>
												</td>
										</tr>

									</table>
				   </div>



			</div>

			</div>
		</div>



	    
			    	

				
	    <div class="panel panel-success" style="width:56%;height:80%;margin-left:22%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
			<div class="panel-heading">
				<h3 class="panel-title">最近动态</h3>
			</div>
			<div class="panel-body">
					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#time" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;"> 时间</a></li>
						 <li><a href="#zhuanfashu" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">转发数</a></li>
						 <li><a href="#pinglun" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">评论数</a></li>
						 <li><a href="#dianzan" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">点赞数</a></li>		  
					</ul>

						<div id="myTabContent" class="tab-content">
						   <div class="tab-pane fade in active" id="time">

						      <div style="float:left;padding:5px;width: 100%;background:whitesmoke;">
						      		<p style="margin-left:10px;">1、昵称：<a target="_blank" href="/index/personal/?uid=1863675294">董锤锤</a>(中国	上海	上海)&nbsp;&nbsp;发布内容:<font color="black">博尔特。。。一个跑在最前面还不忘看镜头的人</font></p><p style="float:left;width:100%;margin-top:-5px;margin-left:10px;"><span style="float:right;padding-right: 10px;color:#858585"><span>转发数(5056)&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>评论数(3282)</span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><span style="float:left"><u>2016-08-15 12:35:08</u> - <a color:#e0e0e0="" target="_blank" href="http://weibo.com/1863675294/E3EJcqnwV">微博</a>-<a target="_blank" href="/index/personal_detail/?uid=1863675294">用户详情</a></span></p>
						      </div>

						      <div style="float:left;padding:5px;width: 100%;">
						      		<p style="margin-left:10px;">
						      			2、昵称：
						      			<a target="_blank" href="/index/personal/?uid=1863675294">董锤锤</a>(中国	贵州	贵阳)&nbsp;&nbsp;发布内容:<font color="black">回覆@五截y:感谢科普！不是伤病的话就更好啦 //@五截y:那是有助于减少乳酸缓解肌肉疲劳的.... //@董锤锤:两位老将身上都布满了膏药[泪][泪]</font></p><p style="float:left;width:100%;margin-top:-5px;margin-left:10px;"><span style="float:right;padding-right: 10px;color:#858585"><span>转发数(2546)&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>评论数(141)</span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><span style="float:left"><u>2016-08-19 21:11:46</u> - <a color:#e0e0e0="" target="_blank" href="http://weibo.com/1863675294/E4jOTaYjt">微博</a>-<a target="_blank" href="/index/personal_detail/?uid=1863675294">用户详情</a></span>
						      		</p>
						      </div>


						   </div>

						   <div class="tab-pane fade" id="zhuanfashu">
						      <p>转发</p>
						   </div>

						   <div class="tab-pane fade" id="pinglun">
						      <p>评论</p>
						   </div>

						   <div class="tab-pane fade" id="dianzan">
						      <p>点赞</p>
						   </div>
						  
						</div>

			</div>
</div>


	</div>




		<footer>
		  <p class="ft-copyright" >网民画像系统 Design by Rcsc 京ICP 1234567</p>
		</footer>
	{% block Own_js %}



	{% endblock %}

</body>
</html>