<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}微世界{% endblock %}</title>   
	<style type="text/css">
	body { font-family:"Microsoft Yahei";background-color: #F2F4F8;}	
	</style>

	<!-- end head 标签 -->

	<!-- 布局CSS -->

	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/info_consume/css/mystyle.css">
<!-- end css -->


<!-- 引入js -->
	<script type="text/javascript" src='/static/info_consume/js/jquery.js'></script>
	<script src="/static/info_consume/js/echarts.js"></script>
	<script type="text/javascript" src="/static/info_consume/js/echarts-all.js"></script>
	<script type="text/javascript" src="/static/info_consume/js/sliders.js"></script>
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript">
   var uid = "{{uid}}";
    //console.log(uid);
   </script>
   <script type="text/javascript" src="/static/info_consume/js/viewinformation.js"></script>


 <!-- end js -->
</head> 

<body>
	 <div class="topnav">	 
  	 <img src="../../static/info_consume/image/title.png">		
  		<ul id="menu" style="margin-left:45%">
  			<li><a href="/index/myzone" style="margin-top: 15px;font-size: 20px;width: 100px;">我的地盘</a>
  				<ul style="margin-left:0px;">
  					<li><a href="/index/myzone">我的管家</a></li>
  					<li><a href="/index/my_friend">我的好友</a></li>
  				</ul>
  			</li> 				  
  			<li><a href="/index/boot_test" style="margin-top: 15px;font-size: 20px;width: 100px;">圈子发现</a>
          <ul style="margin-left:0px;">
            <li><a href="/index/boot_test">圈子搜索</a></li>
            <li><a href="/index/circle_test">圈子 Spy</a></li>
            
          </ul>

        </li>
  			<li><a href="/index/weiborecommand" style="margin-top: 15px;font-size: 20px;">微博那些事</a></li>
  			<li><a href="" style="margin-top: 15px;font-size: 20px;width: 100px;">商业推荐</a></li>
  		</ul>
  </div>

  		<div style="margin-top:5%">
  			<div><span style="margin-left: 17%;font-size: 25px;font-weight: bold;font-family: 微软雅黑;">好友个人空间</span></div>
  			<hr style="width:70%;margin-left: 15%;height:1px;border:none;border-top:2.5px solid #b7b2b2;"/>
  		</div>
  		
		<div class="personhead" style="margin-left:25%;margin-top:-20px;"> <!-- 页面上半部分开始处-->
			<div class="personinfo" >    
				<!-- <p style="font-size:20px; color:#28c7ab;font-size: 24px;margin-left: 20px; margin-top: 10px;font-weight: bold;">娱乐圈八卦兄</p> -->
				<div class='wel_count' >	

			          <div class="panel panel-success" style="width:280px;height:180px;margin-left: 5px;float:left; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-top:10px;">

							<div class="panel-heading">
								<h3 class="panel-title">基本信息</h3>
							</div>

							<div class="panel-body">

							 	<div style="float:left;">
							 		<img src="/static/info_consume/image/head2.png" style="margin-top:15px;width:80px;height:80px;margin-left:0px;float:left;">
							 	</div>

							 	<table style="margin-left:120px;">
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											是否认证：否
										</td>
											
									</tr>
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											注册地：暂无数据
										</td>
											
									</tr>
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											认证类型：无
										</td>
											
									</tr>
									<tr style="height:25px;">
										<td style="font-size:12px;color:#000">
											个人描述：暂无数据
										</td>											
									</tr>	
								</table>
																	
							<div>	
						</div>
					</div>

						<!--第一行三个图标-->
						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 300px;margin-top: -170px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 4px;">
							<img src="/static/info_consume/image/weibo.png" style="width:60px;height:60px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>微博</p>
								    </td>		
								</tr>
								

							</table>

						</div>

						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 530px;margin-top: -170px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 4px;">
							<img src="/static/info_consume/image/friend.png" style="width:65px;height:65px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>粉丝</p>
								    </td>		
								</tr>
								

							</table>

						</div>

						
						<!--第二行三个图标-->
						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 300px;margin-top: -70px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius: 4px;">
							<img src="/static/info_consume/image/shoucang.png" style="width:65px;height:65px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>收藏</p>
								    </td>		
								</tr>
								

							</table>
						</div>

						<div style="background:#ffffff;width:200px;height:80px;float:left; margin-left: 530px;margin-top: -80px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border-radius: 4px;">
							<img src="/static/info_consume/image/guanzhu.png" style="width:65px;height:65px;float:left;margin-left: 35px;margin-top: 10px;">
							<table style="margin-top:15px;margin-left:10%;float:left;>
								<tr style="height:20px;">
								    <td>
								    	<p>25481</p>
								    </td>		
								</tr>
								<tr>
								    <td>
								    	<p>关注</p>
								    </td>		
								</tr>
								

							</table>

						</div>

				</div>

			</div>
	</div>
</div>

<!--页面上半部分到此-->

	<div class="panel panel-success" style="width: 33%;height: 450px;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-left: -28%; margin-top: 20px;">
	
		<div class="panel-heading">
			<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">Ta的身份</h3>
		</div>
		<div id="p_so_onload" ><center>正在努力地为您加载数据中......</center>
		</div>
		
		<div class="panel-body">

				<div id="identity" style="height:350px;margin-top:3px;">
					<!--雷达图区域-->
				</div>
		</div>
    </div>


    <div class="panel panel-success" style="width:33%;height:450px;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-left:12px; margin-top: 20px;">

		<div class="panel-heading">
			<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">Ta的领域</h3>
		</div>
		 <div id="p_so_onload1"><center>正在努力地为您加载数据中......</center></div>
		<div class="panel-body">

				<div id="domain" style="height:350px;margin-top:3px;">
					<!--雷达图区域-->
				</div>
		</div>
    </div>


	<div>
	

	    <div class="panel panel-success" style="width:67%;height:80%;margin-left:16%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);margin-top:10px;">
			<div class="panel-heading">
				<h3 class="panel-title" style="font-family: 微软雅黑;font-size: 18px;">Ta的社交</h3>
			</div>
			<div class="panel-body">
				<ul id="myTab" class="nav nav-tabs">
				   <li class="active">
				      <a href="#retweet_out" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">
				         被他转发及评论用户
				      </a>
				   </li>

				   <li><a href="#tweeted_out" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;border-bottom: 1px solid #ddd;">转发及评论他的用户</a></li>

				   <li><a href="#two_way_out" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;border-bottom: 1px solid #ddd;">最近互动</a></li>

				    <li><a href="#related_out" data-toggle="tab" style="width:100%;background:#ffffff;color:#000;border-bottom: 1px solid #ddd;">他@的用户</a></li>
				   
				</ul>


				<div id="myTabContent" class="tab-content">
				   <div class="tab-pane fade in active" id="retweet_out" >
				    <div id="p_so_onload" ><center>小的正在努力的为老大您加载内容，请稍后...</center></div>

				    <span id="retweet_out" style=" margin-left:0px;float:left;width:110px;"></span>
					<!-- <a href="#" data-toggle="modal" data-target="#more_retweet" id="moreretweet_out" style="float:left;line-height:30px;margin-left:5px;">更多</a> -->

								
				</div>

				<div class="tab-pane fade" id="tweeted_out">
				    <div id="p_so_onload" ><center>小的正在努力的为老大您加载内容，请稍后...</center></div>
				    <span id="tweeted_out" style="margin-left:0px;float:left;width:110px;"></span>
					<!-- <a href="#" data-toggle="modal" data-target="#more_tweeted" id="moretweeted_out" style="float:left;line-height:30px;margin-left:5px;">更多</a> -->


				</div>

				   
				<div class="tab-pane fade" id="two_way_out">
					<div id="p_so_onload" ><center>小的正在努力的为老大您加载内容，请稍后...</center></div>
					<span id="two_way_out" style="margin-left:0px;float:left;width:110px;"></span>
					<!-- <a href="#" data-toggle="modal" data-target="#more_two_way"  id="moretwo_way_out" style="float:left;line-height:30px;margin-left:5px;">更多</a> -->
				</div>



				<div class="tab-pane fade" id="related_out">
					<div id="p_so_onload" ><center>小的正在努力的为老大您加载内容，请稍后...</center></div>
					<span id="related_out" style="margin-left:0px;float:left;width:110px;"></span>
					<!-- <a href="#" data-toggle="modal" data-target="#more_related" id="morerelated_out" style="float:left;line-height:30px;margin-left:5px;">更多</a> -->


				</div>


			</div>

			</div>
		</div>

				
	    <div class="panel panel-success" style="width:67%;height:80%;margin-left:16%;float:left;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
			<div class="panel-heading">
				<h3 class="panel-title">最近动态</h3>
			</div>
			<div class="panel-body">
					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#time" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;"> 时间</a></li>
						 <li><a href="#zhuanfashu" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">转发数</a></li>
						 <li><a href="#pinglun" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">评论数</a></li>
						 <li><a href="#dianzan" data-toggle="tab" style="width:100px; text-align:center;background:#ffffff;color:#000;    border-bottom: 1px solid #ddd;">点赞数</a></li>		  
					</ul>

						<div id="myTabContent" class="tab-content">
						   <div class="tab-pane fade in active" id="time">

						      <div style="float:left;padding:5px;width: 100%;background:whitesmoke;">
						      		<p style="margin-left:10px;">1、昵称：<a target="_blank" href="/index/personal/?uid=1863675294">董锤锤</a>(中国	上海	上海)&nbsp;&nbsp;发布内容:<font color="black">博尔特。。。一个跑在最前面还不忘看镜头的人</font></p><p style="float:left;width:100%;margin-top:-5px;margin-left:10px;"><span style="float:right;padding-right: 10px;color:#858585"><span>转发数(5056)&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>评论数(3282)</span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><span style="float:left"><u>2016-08-15 12:35:08</u> - <a color:#e0e0e0="" target="_blank" href="http://weibo.com/1863675294/E3EJcqnwV">微博</a>-<a target="_blank" href="/index/personal_detail/?uid=1863675294">用户详情</a></span></p>
						      </div>

						      <div style="float:left;padding:5px;width: 100%;">
						      		<p style="margin-left:10px;">
						      			2、昵称：
						      			<a target="_blank" href="/index/personal/?uid=1863675294">董锤锤</a>(中国	贵州	贵阳)&nbsp;&nbsp;发布内容:<font color="black">回覆@五截y:感谢科普！不是伤病的话就更好啦 //@五截y:那是有助于减少乳酸缓解肌肉疲劳的.... //@董锤锤:两位老将身上都布满了膏药[泪][泪]</font></p><p style="float:left;width:100%;margin-top:-5px;margin-left:10px;"><span style="float:right;padding-right: 10px;color:#858585"><span>转发数(2546)&nbsp;&nbsp;|&nbsp;&nbsp;</span><span>评论数(141)</span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><span style="float:left"><u>2016-08-19 21:11:46</u> - <a color:#e0e0e0="" target="_blank" href="http://weibo.com/1863675294/E4jOTaYjt">微博</a>-<a target="_blank" href="/index/personal_detail/?uid=1863675294">用户详情</a></span>
						      		</p>
						      </div>


						   </div>

						   <div class="tab-pane fade" id="zhuanfashu">
						      <p>转发</p>
						   </div>

						   <div class="tab-pane fade" id="pinglun">
						      <p>评论</p>
						   </div>

						   <div class="tab-pane fade" id="dianzan">
						      <p>点赞</p>
						   </div>
						  
						</div>

			</div>
        </div>


	</div>




		<footer>
		  <p class="ft-copyright" >网民画像系统 Design by Rcsc 京ICP 1234567</p>
		</footer>
	{% block Own_js %}



	{% endblock %}

</body>
</html>